# ---------------------------------------------------------------------
# This is configuration file.
# Lines starting with a # are ignored, blank lines are also ignored.
# Spaces are allowed only in right values; trailing spaces are considered too!
#
# >>>  Case *is* significant. <<<
#
# Every line is interpreted by an $self->{$par} = $val
# e.g. a line like the following (without the # of course)
#   GREE = Hello World!
# defines member ...->{GREE} and assign the string 'Hello World!' to it.
#
# To configure you should modify: 
#  Dir.dircfgsetup, Desc, WelcomeSplash, Port.
# ---------------------------------------------------------------------

# Mud description
Desc = Cronache del Mondo Emerso

# Listner port
Port = 23

# Welcome splash-screen
WelcomeSplash = welcome_terradelvento.txt

# Advertising small file
AdvertSpot = advert_cbs.txt

# Set 1 to use one temp-file for each object, 0 to save disk-space.
# Mode 2 to have the temp-file near the original file (as .pm)
UseTempMode = 2

# Max username length
MaxUsernameLen = 32

# Basic logon data
StartupRoom = std/room/startup_it
InitialRoom = area/salazar/room/terrazza
TheVoidRoom = std/room/the_void
DaemonRoom  = std/room/daemon_room

# SQL driver
DbiDriver         = dbi:SQLite:dbname=$0
#DbiDriver         = dbi:Oracle:ORCL

# SQL connection string
DbiUsername       = train
DbiPasswd         = peocio

# SQLite3 master file
DbiMasterFile     = db/sqlite/terradelvento.sqlite

# Daily master-file backup (1=True, 0=False)
DBiBackupDatabase = 1

# SQL driver for CSV export
DbiCSVDriver      = dbi:CSV:f_dir=db;csv_sep_char=\t;csv_eol=\n

# Command splitter
CommandSplitter = \|

# Sleep time between two loops in seconds
TimeToSleep = 0.5

# Delta time between two heartbeats 
# i.e. The time between two heartbeats is in fact TimeToSleep+TimeBetweenHB.
TimeBetweenHB = 2

# Time between two restart/reset
TimeBetweenRestart = 60

# Garbage collector timeout
TimeBetweenGarbage = 30

# Monitoring main process
MonitorTransientTime = 4
MonitorPollingTime   = 4
MonitorToleranceTime = 8
MonitorToleranceHits = 4

# Max bytes read per poll
BytesPerPoll = 1024

# Max login attempts
Attempts    = 3

# Max commands per line (|-separator)
MaxCommands = 8

# Max robot-stat buffer 
MaxRobotBuffer  = 10

# Max lines per second
MaxLinesPerSec = 3

# Max characters per second
MaxCharSec = 30

# Max Ready Clients
MaxReadyClients = 8

# Set 1 to log "alive" status to "mudalive.log" file
TraceMudAlive = 0

# Set 0 to avoid restart room system
ResetRoomMode = 1

# Max number of lines in mail-text
MaxMailLines = 100

# History maximun length
HistoryMaxLength = 20

# Number of input lines/polls to be logged at logon to check robot activity.
FirstLoggedInput = 1

# Subdirectory structure.
Dir.dirarea        = area/
Dir.dirbin         = bin/
Dir.dircfg         = cfg/
Dir.dircfgsetup    = cfg/setup_it/
Dir.dircfgusers    = cfg/terradelvento/
Dir.dirclonable    = clonable/
Dir.dircmd         = cmd/
Dir.dircmdadm      = cmd/adm/
Dir.dircmdfile     = cmd/file/
Dir.dircmdghost    = cmd/ghost/
Dir.dircmdnorm     = cmd/norm/
Dir.dircmdwiz      = cmd/wiz/
Dir.dirdbsqlite    = db/sqlite
Dir.dirdbcsv       = db/csv/
Dir.dirdoc         = doc/
Dir.dirdocbook     = doc/book/
Dir.dirdochelp     = doc/help/
Dir.dirdochelpadm  = doc/help/adm/
Dir.dirdochelpnorm = doc/help/norm/
Dir.dirdochelpwiz  = doc/help/wiz/
Dir.dirdocnews     = doc/news/
Dir.dirdocsys      = doc/sys/
Dir.dirhome        = home/
Dir.dirlog         = log/
Dir.dirstd         = std/
Dir.dirstddaemon   = std/daemon/
Dir.dirstdmon      = std/mon/
Dir.dirstdobj      = std/obj/
Dir.dirstdroom     = std/room/
Dir.dirtmp         = tmp/
Dir.dirtrashcan    = trashcan/

# Legal radix for input_to() function
InputToPath = ([cmd|std|area])

# Un-inheritable modules (i.e. exporter utility module you can include)
UninheritableObj = ([Commons|Database|Engine|MudMon|Archive])

# Obscured opcodes      
# example: try unlink "test.txt" won't work.
# Input and output: binmode,syscall,truncate
# Filehandle: chdir,chmod,chown,chroot,fcntl,ioctl,link,open,rename,readpipe,rmdir,symlink,sysopen,unlink
# Processes: alarm,exec,fork,kill,pipe,qx,setpgrp,setpriority,sleep,system,wait,waitpid
# Library: import,require
# Interprocess: msgctl,msgget,msgrcv,msgsnd,semctl,semget,semop,shmctl,shmget,shmread,shmwrite
# Group Info: setgrent,setpwent
# Socket: accept,bind,connect,listen,recv,send,setsockopt,shutdown,socket,socketpair
# Net Info: sethostent,setnetent,setprotoent,setservent
OpCodes = ([binmode|syscall|truncate|chdir|chmod|chown|chroot|fcntl|ioctl|link|open|rename|rmdir|symlink|sysopen|unlink|alarm|exec|fork|kill|setpgrp|setpriority|sleep|system|wait|waitpid|msgctl|msgget|msgrcv|msgsnd|semctl|semget|semop|shmctl|shmget|shmread|shmwrite|accept|bind|connect|listen|recv|send|shutdown|socket|backtick])
OpCodes = ([binmode|syscall|truncate|chdir|chmod|chown|chroot|fcntl|ioctl|link|open|rename|rmdir|symlink|sysopen|unlink|alarm|exec|fork|kill|setpgrp|setpriority|sleep|system|wait|waitpid|msgctl|msgget|msgrcv|msgsnd|semctl|semget|semop|shmctl|shmget|shmread|shmwrite|accept|bind|connect|listen|recv|send|shutdown|socket|backtick])
#|endpwent|getpwent|getpwnam|getpwuid|setpwent|endgrent|getgrgid|getgrnam|getgrent|setgrent|endhostent|gethostbyaddr|gethostbyname|gethostent|sethostent|endnetent|getnetbyaddr|getnetbyname|getnetent|setnetent|endservent|getservbyname|getservbyport|getservent|setservent|endprotoentgetprotobyname|getprotobynumber|getprotoent|setprotoent])

# List of banned ip addresses, i.e. connection will be refused.
# You can mask distinct ip (e.g. 172.16.1.54) or ranges (e.g. 172.16._._ etc.)
# but localhost is always allowed.
#BannedSiteAddress = ([127.0.0.1])
BannedSiteAddress = ([172._._._|10._._._])

# Active reaction string-trigger
ReactionTrigger = ([-fadm|cisco|testtest])
ReactionFilename = ([anfame.txt|anfame.txt|test.txt])

# Default Debug on perl script; overridden by each user. (obsolete)
Debugging = 0
# ---------------------------------------------------------------------
    #   debugging: > trace n
    #   1   x01   (incremental details)
    #   2   x02   MudCore::include_file
    #   4   x04   MudCore::load_module
    #   8   x08   MudCore::process_normal ::process_startup
    #  16   x10   MudCore::force ::do_command
    #  32   x20   MudCore::call_other socket_process
    #  64   x30   effective_object_name
    # 128   x40   find_object
    # 256  x100   Actions._look 
    # 512  x200   store
    #1024  x400   IDE breakpoint
# ---------------------------------------------------------------------
