# User #
Age = 302
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 1
BallisticSkill = 2
BandwidthDown = 8693
BandwidthUp = 44
Born = 1248808727
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 280
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x1f424ac)
ClientName = localhost
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomWeatherLastMessage = Sta piovendo e fa freddo
DamageDice = 3
Debugging = 1024
Desc = Admin
Descs = Admin
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::dummy::room::postoffice=HASH(0x2c8c51c)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Male
Ghost = 0
HitPoints = 300
IAmARobot = 0
IdleTime = 1248810265
InitialRoom = area/dummy/room/mill
Initiative = 6
InputBuff = 0
InputCount = 0
InputHistory = ([admin|y|y|1|m|1|y||shutdown 1|u|help|help shop|goto guest|shutdown 1])
InputLine = shutdown 1
InputNumber = 5
InputStat = ([6|7|8|9|10|1|4|9|10|10])
InputSumch = 0
InputSumch2 = 0
InputTime = ([6|7|8|9|10|1248809972|1248810117|1248810149|1248810237|1248810267])
InputTo = 0
Inventory = ([])
Keyname = admin
Land = Terra del Vento
LastGarbage = 1248808727
LastLogon = 1248809952
LastRestart = 1248808727
LeftHanded = 0
Level = 100
Light = 0
Living = 1
LogonShout = $n enters the game.\n
LogonTime = 1248809956
MaxIdleTime = 1800
MessageClone = $n creates something.
MessageHome = $n goes home.
MessageIn = $n enters.\n
MessageOut = $n leaves $0.\n
MessageTIn = $n appears.\n
MessageTOut = $n disappears.\n
Module = User.pl
MonetaryValue = 50000
Money = 0
Movement = 4
Name = admin
NextClone = 0
NotifyFail = What?
Party = ([])
Password = ujn1FhwNy0Mx2
Payload = 280
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1248808727
PrevPeerHost = 127.0.0.1
PreviousRoom = area/dummy/dummy_6_5
Properties.transparent = 1
Race = Umano
Resistance = 4
Role = 0
Short = Guest1248808727
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Admin] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 6
Weight = 100
Wounds = 10
WrapCol = 72
