# User #
Age = 137
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 0
BallisticSkill = 5
BandwidthDown = 24683
BandwidthUp = 114
Born = 1248809975
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2b3e774)
ClientName = localhost
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomWeatherLastMessage = Sta piovendo e fa freddo
DamageDice = 1
Debugging = 0
Desc = Guest
Descs = Guest
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::dummy::room::postoffice=HASH(0x2c8c51c)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Male
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1248810242
InitialRoom = area/dummy/room/mill
Initiative = 3
InputBuff = 0
InputCount = 0
InputHistory = ([s|n|e|w|n|e|mail|mail 1|shutdown 1|help|help com|help tell|help|help combat|help emote|help avverbi|help emote|emote|sad|sad])
InputLine = sad
InputNumber = 38
InputStat = ([8|9|4|11|10|12|10|5|3|3])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1248810153|1248810157|1248810159|1248810161|1248810164|1248810179|1248810192|1248810221|1248810230|1248810242])
InputTo = 0
Inventory = ([])
Keyname = guest
Land = Zanelia
LastGarbage = 1248809975
LastLogon = 1248809975
LastRestart = 1248809975
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n enters the game.\n
LogonTime = 1248809974
MaxIdleTime = 1800
MessageClone = $n creates something.
MessageHome = $n goes home.
MessageIn = $n enters.\n
MessageOut = $n leaves $0.\n
MessageTIn = $n appears.\n
MessageTOut = $n disappears.\n
Module = User.pl
MonetaryValue = 1
Money = 0
Movement = 4
Name = guest
NextClone = 0
NotifyFail = What?
Party = ([])
Password = ujUB1qvKBCmYY
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClone = 0
PreviousRoom = area/dummy/room/alley_north
Properties.transparent = 1
Race = Umano
Resistance = 3
Role = 0
Short = Guest1248809975
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Guest] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 3
Weight = 100
Wounds = 10
WrapCol = 72
