# User #
Attacker = ([])
InputStat = ([1|4|13|12|4|3|5|3|2|4])
Age = 628
AttackTarget = ([])
InputLine = quit
Password = 13Bvx9fAnSbPo
Snooper = ([])
InputTime = ([1179771060|1179771365|1179771369|1179771383|1179771514|1179771517|1179771520|1179771522|1179771525|1179771532])
ConnectionPeerHost = 79.0.188.25
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = [Adamanthi] $ 
MessageIn = $n arriva.\n
ConnectionClientName = host25-188-dynamic.0-79-r.retail.telecomitalia.it
CanBeSnooped = 1
Gender = Femmina
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Terra delle Rocce
WeatherLastMessage = Diluvia
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = adamanthi
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Adamanthi
Keyname = adamanthi
Born = 1179770245
MessageTIn = $n compare.\n
IdleTime = 1179771532
LogonTime = 1179770244
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Mezzelfa
Agility = 1
BallisticSkill = 1
