# User #
Attacker = ([])
InputStat = ([6|6|6|9|9|14|7|15|6|4])
Age = 696
AttackTarget = ([])
MailLines = ([ciao prova della posta...])
MailAddressee = adamanthia
InputLine = quit
Password = 13Bvx9fAnSbPo
MailSubject = scema scema scema
Snooper = ([])
InputTime = ([1177771414|1177771421|1177771433|1177771446|1177771457|1177771477|1177771483|1177771488|1177771530|1177771563])
ConnectionPeerHost = 79.0.188.27
MailTimestamp = 07-28-04 16.45.25
HitPoints = 1
Inventory = ([])
Living = 1
ColorLongRoom = magenta
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = host27-188-dynamic.0-79-r.retail.telecomitalia.it
CanBeSnooped = 1
Gender = Femmina
Channels.rpg = 1
Channels.tag = 1
Brief = 7
ColorShortRoom = green
Land = Zanelia
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
ColorNotifyFail = cyan
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = adamanthia
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [0m[36mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Adamanthia
Keyname = adamanthia
Born = 1177770116
MessageTIn = $n compare.\n
IdleTime = 1177771563
LogonTime = 1177770115
AnsiColor = 1
Attempt = 2
AltName = ([])
Race = Mezzelfa
Agility = 1
BallisticSkill = 1
