# User #
Attacker = ([])
InputStat = ([2|3|4|5|6|7|8|9|10|22])
Age = 955
AttackTarget = ([])
InputLine = 'panorama <direzione>'
Password = tr9dSpjzP02as
Snooper = ([])
InputTime = ([2|3|4|5|6|7|8|9|10|1180295174])
ConnectionPeerHost = 87.0.119.140
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = [Aiedail] $ 
MessageIn = $n arriva.\n
ConnectionClientName = host140-119-dynamic.0-87-r.retail.telecomitalia.it
CanBeSnooped = 1
Gender = Femmina
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Terra dell'Acqua
WeatherLastMessage = C'e` il sole
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = aiedail
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Aiedail
Keyname = aiedail
Born = 1180293387
MessageTIn = $n compare.\n
IdleTime = 1180295174
LogonTime = 1180294595
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Mezzelfa
Agility = 1
BallisticSkill = 1
