# User #
Age = 114
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 1
Born = 1188043501
Brief = 7
Bulk = 90
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
ClientName = localhost
Desc = Alex
Descs = Alex
Echo = 1
Follower = ([])
Gender = Femmina
HitPoints = 10
IdleTime = 1188043802
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([alex|alex|alex|1|f|0|s])
InputNumber = 2
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = alex
Land = Zanelia
LastLogon = 6 2007-08-25 14.05.01
LastRestart = 1188043501
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1188043802
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = alex
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = alP.4yzPRDMJc
Payload = 100
PeerHost = 127.0.0.1
Power = 10
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umana
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Alex] $ 
Status = Ok
Strength = 1
WeaponSkill = 1
Weight = 80
Wounds = 10
WrapCol = 72
