# User #
Attacker = ([])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
Age = 194
AttackTarget = ([])
InputLine = s
Password = mifKlFxum.f4A
Snooper = ([])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
ConnectionPeerHost = 192.168.11.131
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = michele.cbs.lan
CanBeSnooped = 1
Gender = Maschio
Brief = 7
Land = Terra del Sole
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = bal
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 600
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Bal
Keyname = bal
Born = 1174669224
MessageTIn = $n compare.\n
IdleTime = 1174669442
LogonTime = 1174669223
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Mezzelfo
Agility = 1
BallisticSkill = 1
