# User #
Attacker = ([])
InputStat = ([1|5|5|8|11|4|10|6|6|4])
Age = 261
AttackTarget = ([])
InputLine = quit
Password = pibn9ccEU4MdA
Snooper = ([])
InputTime = ([1175372812|1175372815|1175372819|1175372822|1175372832|1175372836|1175372843|1175372849|1175372851|1175372910])
ConnectionPeerHost = 87.0.17.23
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = host23-17-dynamic.0-87-r.retail.telecomitalia.it
CanBeSnooped = 1
Gender = Maschio
Brief = 7
Land = Grande Terra
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = boh
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 600
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Boh
Keyname = boh
Born = 1175372338
MessageTIn = $n compare.\n
IdleTime = 1175372910
LogonTime = 1175372337
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Mezzelfo
Agility = 1
BallisticSkill = 1
