# User #
Age = 57
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
Attempt = 1
BallisticSkill = 1
BandwidthDown = 6188
BandwidthUp = 9
Born = 1221826579
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x23b8c34)
ClientName = localhost
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
DamageDice = 1
Desc = Chatspace
Descs = Chatspace
Echo = 1
Environment = area::salazar::room::attico_n2=HASH(0x24ad9d8)
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1221826725
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([chatspace1	connect guest guest||chatspace|chatspace|chatspace|n|1|m|9||s|b|help|quit])
InputLine = quit
InputNumber = 14
InputStat = ([4|5|6|7|8|9|10|1|4|4])
InputTime = ([4|5|6|7|8|9|10|1221826681|1221826709|1221826725])
Inventory = ([])
Keyname = chatspace
Land = Grande Terra
LastGarbage = 1221826579
LastLogon = 1221826579
LastRestart = 1221826579
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1221826578
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = chatspace
NotifyFail = Che cosa?
Party = ([])
Password = chYN2lRt/kJUs
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
PreviousRoom = area/salazar/room/terrazza
Properties.transparent = 1
Race = Umano
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Chatspace] $ 
Status = Ok
Strength = 1
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
