# User #
Age = 497
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 1
Born = 1189379923
Brief = 7
Bulk = 90
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
ClientName = 85-18-14-40.fastres.net
Desc = Chicus
Descs = Chicus
Echo = 1
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1189432921
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([ook|g|g|s|e||se||se|e|o|w|n|w|nw|w|n||f|ine])
InputLine = fine
InputNumber = 163
InputStat = ([1|2|2|2|1|1|1|2|2|4])
InputTime = ([1189432858|1189432871|1189432884|1189432887|1189432890|1189432898|1189432902|1189432909|1189432912|1189432921])
Inventory = ([])
Keyname = chicus
Land = Terra del Mare
LastLogon = 1189379923
LastRestart = 1189379923
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1189432167
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = chicus
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = 055EpdYwvgA0A
Payload = 100
PeerHost = 85.18.14.40
Power = 10
PreviousRoom = area/salazar/room/bassi_s4
Properties.transparent = 1
Race = Mezzelfo
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Chicus] $ 
Status = Ok
Strength = 1
WeaponSkill = 1
Weight = 80
Wounds = 10
WrapCol = 72
