# User #
Age = 173
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 5
BandwidthDown = 6282
Born = 1209930622
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2317f38)
ClientName = localhost
DamageDice = 1
Desc = Ciccio
Descs = Ciccio
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x232ebf4)
Follower = ([])
Gender = Femmina
HitPoints = 20
IdleTime = 1209931243
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputHistory = ([ciccio|ciccio|ciccio|1|f|1|s|	])
InputNumber = 2
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = ciccio
Land = Terra del Vento
LastLogon = 1209931240
LastRestart = 1209930622
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1209931243
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 4
Name = ciccio
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = cia0donGk9pVk
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
PrevClientName = localhost
PrevLastLogon = 1209930708
PrevPeerHost = 127.0.0.1
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umana
Resistance = 3
Snooper = ([])
SpellPoints = 10
StandPrompt = [Ciccio] $ 
Status = Ok
Strength = 4
WeaponSkill = 3
WeatherLastMessage = Piove
Weight = 100
Wounds = 20
WrapCol = 72
