# User #
Attacker = ([])
InputStat = ([3|4|4|13|4|4|4|3|6|5])
Age = 388
AttackTarget = ([])
LastRestart = 1181732711
InputLine = aiuto
Password = bnYLwbeCQs4Is
Snooper = ([])
InputTime = ([1181733126|1181733131|1181733135|1181733143|1181733146|1181733149|1181733155|1181733158|1181733164|1181733167])
ConnectionPeerHost = 192.168.11.1
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = [Col] $ 
MessageIn = $n arriva.\n
ConnectionClientName = host129-20-dynamic.61-82-r.retail.telecomitalia.it
CanBeSnooped = 1
Gender = Maschio
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Grande Terra
WeatherLastMessage = C'e` una tormenta di neve
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = col
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Col
Keyname = col
Born = 1181732711
MessageTIn = $n compare.\n
IdleTime = 1181733167
LogonTime = 1181732710
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Umano
Agility = 1
BallisticSkill = 1
