# User #
Age = 1138
Agility = 1
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 1
Born = 1175100600
Brief = 7
Bulk = 90
CanBeSnooped = 1
Capacity = 100
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x20f3be4)
ClientName = localhost
ConnectionClientName = d83-184-115-107.cust.tele2.it
ConnectionPeerHost = 83.184.115.107
DamageDice = 1
Desc = Conflitto
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x1e6c114)
Follower = ([])
Gender = Maschio
HitPoints = 1
IdleTime = 1199974727
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([conflitto|2Horace$|qut	quit|])
InputNumber = 3
InputStat = ([2|3|4|5|6|7|8|9|10|0])
InputTime = ([2|3|4|5|6|7|8|9|10|1199974727])
Inventory = ([])
Keyname = conflitto
Land = Terra dei Giorni
LastLogon = 1199974104
LastRestart = 1199973663
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1199974110
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = conflitto
NotifyFail = [1m[35mChe cosa?
OldPassword = colu0YAVE4eiA
Party = ([])
Password = 2H6IFGvimmC/M
Payload = 100
PeerHost = 127.0.0.1
Power = 1
Properties.transparent = 1
Race = Drago
Resistance = 1
Snooper = ([])
SpellPoints = 1
StandPrompt = [Conflitto] $
Status = Ok
Strength = 1
WeaponSkill = 1
WeatherLastMessage = Sta piovendo e fa freddo
Weight = 80
Wounds = 1
WrapCol = 72
