# User #
Age = 2206
Agility = 1
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 5
Born = 1174428069
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x22ce6c0)
ClientName = localhost
ConnectionClientName = ppp-131-39.25-151.libero.it
ConnectionPeerHost = 151.25.39.131
DamageDice = 1
Desc = Contevaren
Echo = 1
Environment = home::flogisto::workroom=HASH(0x21d2c44)
Follower = ([])
Following = spider
Gender = Maschio
HitPoints = 20
IdleTime = 1199971503
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputHistory = ([contevaren|2Horace$|save|quit|users|prompt|prompt [Conte Varen] $|save|follow spider|spider -1||||])
InputNumber = 12
InputStat = ([5|6|22|4|13|9|0|0|0|0])
InputTime = ([1199967507|1199967517|1199967536|1199967539|1199967551|1199967638|1199968054|1199968066|1199969729|1199971503])
Inventory = ([])
Keyname = contevaren
Land = Zanelia
LastLogon = 1199967361
LastRestart = 1187988982
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1199967402
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 4
Name = contevaren
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = 2H6IFGvimmC/M
Payload = 100
PeerHost = 127.0.0.1
Power = 1
PreviousRoom = area/mondo_emerso/em_46_50
Properties.transparent = 1
Race = Umano
Resistance = 3
Snooper = ([])
SpellPoints = 1
StandPrompt = [Conte Varen] $
Status = Ok
Strength = 4
WeaponSkill = 3
WeatherLastMessage = Sta piovendo e fa freddo
Weight = 100
Wounds = 1
WrapCol = 72
