# User #
Age = 122
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 0
BallisticSkill = 5
BandwidthDown = 17806
BandwidthUp = 138
Born = 1235752227
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x4215cec)
ClientName = host91-156-dynamic.36-79-r.retail.telecomitalia.it
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
DamageDice = 1
Debugging = 0
Desc = David
Descs = David
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::postoffice=HASH(0x412a1cc)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1235752495
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputBuff = 0
InputCount = 0
InputHistory = ([look e|guarda teschio|n|mail||mail|help mail|mail 1|who|guarda|look|s|e|chi|help who|who|s|o|n|quit])
InputLine = quit
InputNumber = 51
InputStat = ([4|1|1|3|8|3|1|1|1|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1235752459|1235752460|1235752461|1235752463|1235752464|1235752465|1235752466|1235752467|1235752469|1235752495])
InputTo = 0
Inventory = ([])
Keyname = david
Land = Terra delle Rocce
LastGarbage = 1235752227
LastLogon = 1235752227
LastRestart = 1235752227
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1235752226
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 1
Money = 0
Movement = 4
Name = david
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = rejJyB/s1RxKM
Payload = 100
PeerHost = 79.36.156.91
Power = 10
Preload = ([])
Presence = 0
PrevClone = 0
PreviousRoom = area/salazar/room/alti_n1
Properties.transparent = 1
Race = Umano
Resistance = 3
Role = 0
Short = Guest1235752227
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [David] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 3
Weight = 100
Wounds = 10
WrapCol = 72
