# User #
Age = 224
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 0
BallisticSkill = 1
BandwidthDown = 18560
BandwidthUp = 107
Born = 1224795221
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x37a6480)
ClientName = host168-180-dynamic.9-87-r.retail.telecomitalia.it
Clonenumber = 0
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomWeatherLastMessage = Piove
DamageDice = 1
Debugging = 0
Desc = Ekozar
Descs = Ekozar
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::attico_n2=HASH(0x1f75808)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 10
IAmARobot = 0
IdleTime = 1224795710
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputBuff = 0
InputCount = 0
InputHistory = ([aiuto 0|aiuto 0|aiuto terre|aiuto vento|aiuto zanelia|aiuto mare|1|s|panorama avanti|panorama nord|panorama sud|panorama est|panorama ovest|channel|help channel|b|exa mappa|exit|esci|fine])
InputLine = fine
InputNumber = 36
InputStat = ([12|12|14|7|12|1|9|4|4|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1224795570|1224795585|1224795599|1224795619|1224795629|1224795665|1224795689|1224795701|1224795704|1224795710])
InputTo = 0
Inventory = ([])
Keyname = ekozar
Land = Terra del Vento
LastGarbage = 1224795221
LastLogon = 1224795221
LastRestart = 1224795221
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1224795220
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Money = 0
Movement = 10
Name = ekozar
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = stq3oA3GUcp.A
Payload = 100
PeerHost = 87.9.180.168
Power = 10
Preload = ([])
Presence = 0
PrevClone = 0
PreviousRoom = area/salazar/room/terrazza
Properties.transparent = 1
Race = Mezzelfo
Resistance = 1
Role = 0
Short = 0
Shorts = 0
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Ekozar] $ 
Status = Ok
Step = 0
Strength = 1
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
