# User #
Attacker = ([])
InputStat = ([1|2|2|2|2|4|3|4|6|4])
Age = 564
AttackTarget = ([])
AttackDistance = 0
InputLine = quit
Password = qwQDjr1jJLPzY
ArmourHelmet = 0
Snooper = ([])
Attacking = 0
InputTime = ([1172165347|1172165351|1172165353|1172165360|1172165363|1172165366|1172165371|1172165374|1172165379|1172165386])
EmoteTarget = 0
ConnectionPeerHost = 192.168.11.119
ArmourShield = 0
HitPoints = 1
Inventory = ([])
Clonenumber = 0
Living = 1
StandPrompt = $ 
ArmourGloves = 0
Descs = 0
MessageIn = $n arriva.\n
Ghost = 0
ConnectionClientName = pierpaol-ef2d25
CanBeSnooped = 1
Gender = Maschio
UsedCapacity = 0
Brief = 7
Land = Grande Terra
WeatherLastMessage = C'e` il sole
Strength = 1
InputSumch2 = 0
WeaponSkill = 1
Container = 0
Resistance = 1
Payload = 100
Role = 
Money = 0
Module = User.pl
Presence = 0
MessageTOut = $n scompare.\n
Snoopee = 0
Weight = 80
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 90
Level = 4
UsedPayload = 0
InputCount = 0
InitialRoom = area/salazar/room/terrazza
Echo = 1
ArmourHead = 0
Name = eldaan
Short = 0
InputBuff = 
SpellPoints = 1
Status = Ok
Capacity = 100
ArmourBoots = 0
MessageHome = $n va a casa sua.\n
InputSumch = 0
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.\n
Desc = Eldaan
InputTo = 0
ArmourCloak = 0
Debugging = 0
Step = 0
Keyname = eldaan
Earmuffed = 0
Born = 1172163023
MessageTIn = $n compare.\n
IdleTime = 1172165386
LogonTime = 1172165285
AnsiColor = 1
Attempt = 1
AltName = ([eldaan])
Race = Folletto
Agility = 1
BallisticSkill = 1
Light = 0
