# User #
Age = 465
Agility = 1
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 5
Born = 1176235589
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels.rpg = 1
Channels.tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x21ca5dc)
ClientName = ppp-5-98.31-151.libero.it
ConnectionClientName = localhost
ConnectionPeerHost = 127.0.0.1
DamageDice = 1
Desc = Fen
Echo = 1
Environment = area::mondo_emerso::em_11_72=HASH(0x36cbadc)
Follower = ([])
Following = spider
Gender = Maschio
HitPoints = 20
IdleTime = 1200259149
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputHistory = ([fen|2|Hora|ce$|follow spider|spider -1||exa fen|])
InputNumber = 7
InputStat = ([6|7|8|9|10|13|9|0|7|0])
InputTime = ([6|7|8|9|10|1200258021|1200258022|1200258130|1200258133|1200259149])
Inventory = ([])
Keyname = fen
Land = Terra del Sole
LastLogon = 1200257778
LastRestart = 1199486491
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1200257783
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 4
Name = fen
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = 2H6IFGvimmC/M
Payload = 100
PeerHost = 151.31.98.5
Power = 1
PreviousRoom = area/mondo_emerso/em_11_73
Properties.transparent = 1
Race = Umano
Resistance = 3
Snooper = ([])
SpellPoints = 1
StandPrompt = [Fen] $
Status = Ok
Strength = 4
WeaponSkill = 3
WeatherLastMessage = Sta piovendo e fa freddo
Weight = 100
Wounds = 20
WrapCol = 72
