# User #
Actions._default = do_default
Actions.exa = help
Actions.examine = help
Actions.look = look
Actions.test = tost
AdvanceLevel = 4
AdvanceUsername = vivian
Age = 395488
Agility = 1
Alias.chiedi = say @_?
Alias.cspider = clone area/salazar/mon/spider
Alias.daemon = goto std/room/daemon_room
Alias.kill = attacca
Alias.kkk = shutdown 1|quit
Alias.rpg = channel rpg
Alias.tag = channel tag
Alias.wh = wizhelp
Alias.wiz = channel wiz
AltName = ([])
AnsiColor = 1
AttackFlipFlop = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 1
BallisticSkill = 2
BandwidthDown = 1113259
BandwidthUp = 30380
Born = 1179495325
Brief = 127
Bulk = 100
CanBeSnooped = 1
Capacity = 280
ChannelColor.perl = White
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
ChannelColor.wiz = Red
Channels.rpg = 1
Channels.tag = 1
Channels.wiz = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x25d2cc8)
ClientName = localhost
ColorNotifyFail = Magenta
DamageDice = 3
Debugging = 1024
Desc = Flogisto
Descs = Flogisto
Dexterity = 20
Echo = 1
Environment = home::flogisto::workroom=HASH(0x260c008)
ExpelUsername = guest
Follower = ([])
FrozenByUsername = Flogisto
Gender = Maschio
HitPoints = 800
IdleTime = 1212141712
InitialRoom = home/flogisto/workroom
Initiative = 6
InputHistory = ([disconnect vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|help|switch vivian|switch|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian|switch vivian])
InputLine = switch vivian
InputNumber = 2
InputStat = ([3|4|5|6|7|8|9|10|13|13])
InputTime = ([3|4|5|6|7|8|9|10|1212141693|1212141713])
Inventory = ([home/flogisto/compass.pl|home/flogisto/sextant.pl])
Keyname = flogisto
Land = Terra del Vento
LastLogon = 1212141681
LastRestart = 1180959947
Level = 100
Light = 5
Living = 1
LogName = guest63842
LogonShout = \n\n` .   Temete e tremate  .  '\nIl grande Flogisto entra nel Mondo Emerso\n\n
LogonTime = 1212141684
MailAddressee = mattsteel
MailCarboncopy = y
MailDeleting = 2
MailLines = ([z])
MailSubject = x
MailTimestamp = 2007-08-23 14.16.32
MaxIAmARobot = 10000
MaxIdleTime = 86400
MessageClone = $n materializza $0 dal nulla.
MessageHome = $n sparisce di colpo e va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.	
MessageTOut = $n scompare in una nuvola di fumo.\n
Module = User.pm
MonetaryValue = 50000
Money = 92488
Movement = 4
Name = flogisto
NotifyError = Ok.
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = 3H6eAwxgJmO/I
Payload = 280
PeerHost = 127.0.0.1
Power = 1
Preload = ([home/flogisto/compass|home/flogisto/sextant])
PrevClientName = localhost
PrevLastLogon = 1212141467
PrevPeerHost = 127.0.0.1
PreviousRoom = home/flogisto/workroom
Properties.known_grid_em = 1
Properties.transparent = 1
Race = Umano
Resistance = 4
Short = Flogisto
Shorts = Flogisto
Silenced = 1
SilencedByUsername = Flogisto
Snooper = ([])
SpellPoints = 1
SpentSP = 1
StandPrompt = [Flogisto] $ 
Status = Ok
Strength = 4
UsedCapacity = 2
UsedPayload = 2
Volume = 100
WeaponSkill = 6
WeatherLastMessage = Piove
Weight = 100
Wounds = 800
WrapCol = 70
