# User #
Actions._default = do_default
Actions.exa = help
Actions.examine = help
Actions.look = look
Actions.test = tost
AdvanceLevel = 4
Age = 474350
Agility = 1
Alias.chiedi = say @_?
Alias.cspider = clone area/salazar/mon/spider
Alias.daemon = goto std/room/daemon_room
Alias.kill = attacca
Alias.kkk = shutdown 1|quit
Alias.matt = goto area/mattsteel_castle/room/building
Alias.rpg = channel rpg
Alias.tag = channel tag
Alias.wh = wizhelp
Alias.wiz = channel wiz
Alias.x = forcesnoop
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
AttackFlipFlop = 1
AttackTarget = ([])
Attacker = ([])
Attacking = 0
Attempt = 1
BallisticSkill = 2
BandwidthDown = 1776164
BandwidthUp = 20942
Born = 1179495325
Brief = 127
Bulk = 100
CanBeSnooped = 1
Capacity = 280
Channel_rpg = 1
Channel_tag = 1
Channel_wiz = 1
Channels_perl = 1
Channels_wiz = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2d52c34)
ClientName = localhost
Clonenumber = 0
ColorChannel_perl = White
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
ColorChannel_wiz = Red
ColorNotifyFail = Magenta
Combat = 0
Container = 0
CustomAdvanceUsername = vivian
CustomCurrentWorkDirectory = /home/flogisto
CustomEdarray = ([])
CustomEdfilename = 0
CustomEdpage = 0
CustomExpelMotivation = nuovo
CustomExpelUsername = nuovo
CustomFTPfilecontent = ([# Muddrv.pl\~|# Created Aug 2006\~|# Author  flogisto\~|package Muddrv;\~|\~])
CustomFTPfilename = /bin/Muddrv.pm
CustomFTPoption = 0
CustomFTPtime = 1227130686
CustomHasCompass = 0
CustomResetpasswordUsername = mattsteel
CustomTelnetHandle = IO::Socket::INET=GLOB(0x2cca984)
CustomTelnetHost = localhost
CustomTelnetPort = 23
CustomTelnetTerminal = clonable::telnet_terminal=HASH(0x2d48acc)
CustomUnlinkfilename = mud.bat
CustomWeatherLastMessage = Piove
CustomWeatherLastTime = 1236519758
DamageDice = 3
Debugging = 1024
Desc = Flogisto
Descs = Flogisto
Dexterity = 20
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = area::salazar::mon::ronda_leader=HASH(0x3d0a274)
EmoteWhere = 0
Environment = home::flogisto::workroom=HASH(0x2b48614)
ExpelUsername = fen
Follower = ([])
Following = 0
FrozenByUsername = Flogisto
Gender = Maschio
Ghost = 0
HitPoints = 300
IAmARobot = 0
IdleTime = 1248552457
InitialRoom = home/flogisto/workroom
Initiative = 6
InputBuff = 0
InputCount = 0
InputHistory = ([\~shutdown 1|shutdown 1|shutdown 1\~quit|re|setpass|word|[Are|setpassw|ord |mattst|eel||reset|passwo|rd mat|tsteel|s||quit|quit])
InputLine = quit
InputNumber = 1
InputStat = ([2|3|4|5|6|7|8|9|10|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([2|3|4|5|6|7|8|9|10|1248552462])
InputTo = 0
Inventory = ([])
Keyname = flogisto
Land = Terra del Vento
LastGarbage = 1221837402
LastLogon = 1248552411
LastRestart = 1180959947
LeftHanded = 0
Level = 100
Light = 6
Living = 1
LogName = guest63842
LogonShout = \n\n` .   Temete e tremate  .  '\nIl grande Flogisto entra nel Mondo Emerso\n\n
LogonTime = 1248552418
MailAddressee = mattsteel
MailCarboncopy = y
MailDeleting = 3
MailLines = ([z])
MailSubject = x
MailTimestamp = 2007-08-23 14.16.32
MaxIAmARobot = 10000
MaxIdleTime = 1800
MessageClone = $n materializza $0 dal nulla.
MessageHome = $n sparisce di colpo e va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.	
MessageTOut = $n scompare in una nuvola di fumo.\n
Module = User.pm
MonetaryValue = 50000
Money = 99074
Movement = 4
Name = flogisto
NextClone = 0
NotifyError = Ok.
NotifyFail = Che cosa?
Party = ([])
Password = T.7dDb0n8X.s
Payload = 280
PeerHost = 127.0.0.1
Power = 1
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1248527397
PrevPeerHost = 127.0.0.1
PreviousRoom = area/mattsteel_castle/room/mill
Properties.known_grid_em = 1
Properties.transparent = 1
Race = Umano
Resistance = 4
Role = 0
Short = Flogisto
Shorts = Flogisto
SilencedByUsername = Flogisto
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 1
SpentSP = 1
StandPrompt = [Flogisto] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
Trace = 1024
UsedCapacity = 0
UsedPayload = 0
Visible = 1
Volume = 100
WeaponSkill = 6
WeatherLastMessage = Sta piovendo e fa freddo
Weight = 100
Wounds = 10
WrapCol = 70
