# User #
Age = 96
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
BallisticSkill = 1
BandwidthDown = 7682
Born = 1219786414
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x29da280)
ClientName = net-93-147-53-98.t2.dsl.vodafone.it
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
CustomWeatherLastMessage = Piove
DamageDice = 1
Desc = Joel
Descs = Joel
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x29aa7f8)
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1219786658
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([Joel|kommodore|kommodore|s|aiuto fammin|aiuto Sirenidi|Aiuto Mezzelfi|aiuto gnomi|aiuto folletti|aiuto ninfe|aiuto draghi|2|m|2|s])
InputLine = s
InputNumber = 15
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = joel
Land = Terra dell'Acqua
LastGarbage = 1219786414
LastLogon = 1219786414
LastRestart = 1219786414
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1219786413
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = joel
NotifyFail = Che cosa?
Party = ([])
Password = koDztJfNFVPkw
Payload = 100
PeerHost = 93.147.53.98
Power = 10
Preload = ([])
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Mezzelfo
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Joel] $ 
Status = Ok
Strength = 1
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
