# User #
Age = 6
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
BallisticSkill = 1
Born = 1199967670
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x27acc80)
ClientName = localhost
DamageDice = 1
Desc = Johnny
Descs = Johnny
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x1e6cb8c)
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1199967690
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([johnny|2Horace$|2Horace$|4|m|1|s])
InputLine = s
InputNumber = 7
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = johnny
Land = Terra del Vento
LastLogon = 1199967670
LastRestart = 1199967670
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1199967669
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = johnny
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = 2H6IFGvimmC/M
Payload = 100
PeerHost = 127.0.0.1
Power = 10
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Folletto
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Johnny] $ 
Status = Ok
Strength = 1
WeaponSkill = 1
WeatherLastMessage = Piove a dirotto e fa freddo
Weight = 100
Wounds = 10
WrapCol = 72
