# User #
Age = 36
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
BallisticSkill = 1
BandwidthDown = 5849
BandwidthUp = 89
Born = 1220370807
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x24601e8)
ClientName = matteo-nec.cbs.lan
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
CustomWeatherLastMessage = Fa freddo ma c'e` il sole
DamageDice = 1
Desc = Kaldais
Descs = Kaldais
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x246d798)
Follower = ([])
Gender = Femmina
HitPoints = 10
IdleTime = 1220370900
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([|a|tta|cca pass|erot|to|pest|a passe|rotto|esci|cia|o|chi|ydi|u||chi|udi|quit|])
InputLine = quit
InputNumber = 47
InputStat = ([3|7|4|18|16|4|4|4|6|4])
InputTime = ([1220370860|1220370864|1220370871|1220370880|1220370887|1220370889|1220370891|1220370895|1220370897|1220370900])
Inventory = ([])
Keyname = kaldais
Land = Terra del Fuoco
LastGarbage = 1220370807
LastLogon = 1220370807
LastRestart = 1220370807
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1220370806
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = kaldais
NotifyFail = Che cosa?
Party = ([])
Password = ledl6PJlsiGNA
Payload = 100
PeerHost = 192.168.11.110
Power = 10
Preload = ([])
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Folletta
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Kaldais] $ 
Status = Ok
Strength = 1
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
