# User #
Age = 20
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
Attempt = 1
BallisticSkill = 1
BandwidthDown = 4977
Born = 1221298756
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x23719e0)
ClientName = localhost
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
DamageDice = 1
Desc = Kayle
Descs = Kayle
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x2483dec)
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1221640485
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([ka|yle||35||35||s||1|m|7||s])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = kayle
Land = Terra del Fuoco
LastGarbage = 1221298756
LastLogon = 1221640481
LastRestart = 1221298756
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1221640485
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = kayle
NotifyFail = Che cosa?
Party = ([])
Password = 35Y2jCAHX39vA
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
PrevClientName = adsl-ull-65-176.48-151.net24.it
PrevLastLogon = 1221298756
PrevPeerHost = 151.48.176.65
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umano
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Kayle] $ 
Status = Ok
Strength = 1
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
