# User #
Attacker = ([])
InputStat = ([10|3|3|12|11|5|9|11|1|4])
Age = 58
AttackTarget = ([])
LastRestart = 1181206793
InputLine = exit
Password = kaE.eWEcagj22
Snooper = ([])
InputTime = ([10|1181206968|1181206976|1181206992|1181207003|1181207008|1181207013|1181207031|1181207038|1181207046])
ConnectionPeerHost = 192.168.11.1
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = [Luca] $ 
MessageIn = $n arriva.\n
ConnectionClientName = adsl-ull-104-153.44-151.net24.it
CanBeSnooped = 1
Gender = Maschio
Channels.rpg = 1
Channels.tag = 1
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Brief = 7
Land = Terra della Notte
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 80
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 90
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = luca
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Luca
Keyname = luca
Born = 1181206793
MessageTIn = $n compare.\n
IdleTime = 1181207046
LogonTime = 1181206956
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Umano
Agility = 1
BallisticSkill = 1
