# User #
Attacker = ([])
InputStat = ([2|3|4|5|6|7|8|9|10|4])
Age = 78048
AttackTarget = ([])
AttackDistance = 0
InputLine = quit
Password = 2H6IFGvimmC/M
Actions.exa = help
Actions.test = tost
Actions._default = do_default
Actions.examine = help
Actions.look = look
ArmourHelmet = 0
Snooper = ([])
Attacking = 0
InputTime = ([2|3|4|5|6|7|8|9|10|1168191124])
EmoteTarget = 0
ConnectionPeerHost = 127.0.0.1
ArmourShield = 0
HitPoints = 6
Inventory = ([])
Clonenumber = 0
Living = 1
StandPrompt = [Mat] $ 
ArmourGloves = 0
Descs = 0
MessageIn = $n arriva.\n
Ghost = 1
ConnectionClientName = localhost
CanBeSnooped = 0
Gender = Maschio
UsedCapacity = 0
Brief = 7
Land = Terra del Vento
Strength = 100
InputSumch2 = 0
WeaponSkill = 10
Container = 0
Resistance = 100
Payload = 100
Money = 0
Module = obj/Player.pm
Presence = 0
MessageTOut = $n scompare.\n
Snoopee = 0
Weight = 80
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 90
Level = 1
UsedPayload = 0
InputCount = 0
InitialRoom = area/salazar/room/terrazza
Echo = 1
ArmourHead = 0
Name = mat
Short = Mat
InputBuff = 
Volume = 0
SpellPoints = 1
Status = Ok
Capacity = 100
ArmourBoots = 0
MessageHome = $n va a casa sua.
InputSumch = 0
Properties.transparent = 1
WrapCol = 60
NotifyFail = Che cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Mat
InputTo = 0
ArmourCloak = 0
Debugging = 0
NotifyError = Ok.
Step = 0
Shorts = 0
Keyname = mat
Earmuffed = 0
Born = 1072527394
MessageTIn = $n compare.\n
PreviousRoom = 0
IdleTime = 1168191124
LogonTime = 1168191123
AnsiColor = 0
Attempt = 1
AltName = ([mat])
Race = Umano
Agility = 10
BallisticSkill = 10
Light = 1
