# User #
Age = 36
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
BallisticSkill = 1
Born = 1199488655
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2455410)
ClientName = host87-251-dynamic.2-87-r.retail.telecomitalia.it
DamageDice = 1
Desc = Matteo
Descs = Matteo
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x1e6b494)
Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1199488745
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([ma|tteo|m|ammet|tina||m|amme|ttina|m||u|mani||m||6||s|])
InputLine = s
InputNumber = 20
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = matteo
Land = Terra della Notte
LastLogon = 1199488655
LastRestart = 1199488655
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1199488654
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = matteo
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = malNPSyz0eLNQ
Payload = 100
PeerHost = 87.2.251.87
Power = 10
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umano
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Matteo] $ 
Status = Ok
Strength = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
