# User #
Actions._default = do_default
Actions.exa = help
Actions.examine = help
Actions.look = look
Actions.test = tost
Age = 320847
Agility = 10
Alias.compass = clone home/flogisto/compass
Alias.cspider = clone area/salazar/mon/spider
Alias.g = giu
Alias.kkk = shutdown 2|quit
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alias.wiz = channel wiz
Alias.x = forcesnoop
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
AttackTarget = ([])
Attacker = ([])
Attacking = 0
Attempt = 1
BallisticSkill = 2
BandwidthDown = 3806925
BandwidthUp = 65543
Born = 1072527394
Brief = 127
Bulk = 100
CanBeSnooped = 1
Capacity = 280
Channel_rpg = 1
Channel_tag = 1
Channel_wiz = 1
Channels_wiz = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2dd0394)
ClientName = localhost
Clonenumber = 1
ColorChannel_perl = White
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
ColorChannel_wiz = Red
ColorLongRoom = Yellow
ColorNotifyFail = Magenta
ColorShortRoom = Green
Combat = 0
Container = 0
CustomAdvanceLevel = 1
CustomAdvanceUsername = vivian
CustomCurrentWorkDirectory = /home/flogisto
CustomEdarray = ([])
CustomEdfilearray = ([ECHO attivo.|Riga due.])
CustomEdfilename = 0
CustomEdpage = 0
CustomExpelMotivation = 0
CustomExpelUsername = zzzz
CustomFTPfilecontent = ([1111111111	|2222222222222	|33333333	])
CustomFTPfilename = home/mattsteel/w.txt
CustomFTPtime = 1223728386
CustomFrozenByUsername = Flogisto
CustomHasCompass = 1
CustomLevelLevel = 5
CustomLevelUsername = passerotto
CustomMailAddressee = flogisto
CustomMailCarboncopy = 0
CustomMailLines = ([ciao])
CustomMailSubject = R: prova
CustomMailTimestamp = 2008-11-21 22.50.38
CustomSilencedByUsername = Flogisto
CustomUnlinkfilename = home/mattsteel/w.txt
CustomWeatherLastMessage = Il cielo è sereno
CustomWeatherLastTime = 1236542887
DamageDice = 3
Debugging = 0
Desc = Mattsteel
Descs = Mattsteel
Dexterity = 20
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = User=HASH(0x2d8d9a4)
EmoteWhere = 0
Environment = home::flogisto::workroom=HASH(0x212555c)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 300
IAmARobot = 0
IdleTime = 1248637978
InitialRoom = home/flogisto/workroom
Initiative = 6
InputBuff = 0
InputCount = 0
InputHistory = ([look|look|shutdown 1|shutdown 1|shutdown 1|shutdown 1|shutdown 1|shutdown 1|help|shutdown 1|help|shutdown 1|shutdown 1|shutdown 1|shutdown 1|users|users all|shutdown 1|shutdown 3|quit])
InputLine = quit
InputNumber = 2
InputStat = ([3|4|5|6|7|8|9|10|10|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([3|4|5|6|7|8|9|10|1248637977|1248637978])
InputTo = 0
Inventory = ([])
Keyname = mattsteel
Land = Terra del Vento
LastGarbage = 1220992057
LastLogon = 1248637969
LastRestart = 1181392191
LeftHanded = 0
Level = 90
Light = 0
Living = 1
LogName = guest54274
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1248637974
MaxIAmARobot = 10000
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n appare dal nulla.\n
MessageTOut = $n scompare in una nuvola di fumo.\n
Module = User.pm
MonetaryValue = 50000
Money = 54
Movement = 4
Name = mattsteel
NextClone = 0
NotifyError = Ok.
NotifyFail = Che cosa?
Party = ([])
Password = lm28Z8/9TdxwQ
Payload = 280
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1248614510
PrevPeerHost = 127.0.0.1
PreviousRoom = area/mattsteel_castle/room/building
Properties.CustomHasCompass = 1
Properties.transparent = 1
Race = Umano
Resistance = 4
Role = 0
Short = Mattsteel
Shorts = Flogisto
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
SpentSP = 10
StandPrompt = [Mattsteel] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
Volume = 100
WeaponSkill = 6
Weight = 100
Wounds = 300
WrapCol = 72
