# User #
Age = 4
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
BallisticSkill = 1
Born = 1194122985
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x20e53b0)

ClientName = localhost
Desc = Menga
Descs = Menga
Echo = 1
Environment = area::salazar::room::terrazza=HASH(0x20ccc88)

Follower = ([])
Gender = Maschio
HitPoints = 10
IdleTime = 1194122999
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputHistory = ([menga|menga|menga||1|m|1|s])
InputLine = s
InputNumber = 8
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = menga
Land = Terra del Vento
LastLogon = 1194122985
LastRestart = 1194122985
Level = 1
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1194122984
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = menga
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = me3YI.PR6Y1jI
Payload = 100
PeerHost = 127.0.0.1
Power = 10
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umano
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = [Menga] $ 
Status = Ok
Strength = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
