# User #
Attacker = ([])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
Age = 48351
AttackTarget = ([])
Password = colu0YAVE4eiA
Snooper = ([])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
ConnectionPeerHost = 83.184.115.71
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = d83-184-115-71.cust.tele2.it
CanBeSnooped = 1
Gender = Maschio
Brief = 7
Land = Terra dei Giorni
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 80
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 90
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = murdeoern
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.\n
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.\n
Desc = Murdeoern
Keyname = murdeoern
Born = 1173812602
MessageTIn = $n compare.\n
IdleTime = 1173815881
LogonTime = 1173897036
AnsiColor = 1
Attempt = 1
AltName = ([murdeoern])
Race = Drago
Agility = 1
BallisticSkill = 1
