# User #
Attacker = ([])
InputStat = ([15|4|2|25|15|12|22|50|5|4])
Age = 505
AttackTarget = ([])
InputLine = quit
Password = ev33EFjrhlZHM
Snooper = ([])
InputTime = ([1177705520|1177705575|1177705622|1177705640|1177705672|1177705730|1177705787|1177705852|1177705861|1177705872])
ConnectionPeerHost = 82.53.253.237
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = host237-253.pool8253.interbusiness.it
CanBeSnooped = 1
Gender = Femmina
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Terra della Notte
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = nealis
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Nealis
Keyname = nealis
Born = 1177704839
MessageTIn = $n compare.\n
IdleTime = 1177705872
LogonTime = 1177704838
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Mezzelfa
Agility = 1
BallisticSkill = 1
