# User #
Age = 34
Agility = 1
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 0
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 1
BallisticSkill = 1
BandwidthDown = 5769
BandwidthUp = 16
Born = 1224331657
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2613f6c)
ClientName = localhost
Clonenumber = 0
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
DamageDice = 1
Debugging = 0
Desc = Nessuno
Descs = Nessuno
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::terrazza=HASH(0x26476e0)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 10
IAmARobot = 0
IdleTime = 1224332220
InitialRoom = area/salazar/room/terrazza
Initiative = 1
InputBuff = 0
InputCount = 0
InputHistory = ([nessuno|nessuno|nessuno|n|1|m|1|s|save|ansi|ansi|quit])
InputLine = quit
InputNumber = 3
InputStat = ([4|5|6|7|8|9|10|4|4|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([4|5|6|7|8|9|10|1224332193|1224332210|1224332220])
InputTo = 0
Inventory = ([])
Keyname = nessuno
Land = Terra del Vento
LastGarbage = 1224331657
LastLogon = 1224332171
LastRestart = 1224331657
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1224332175
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Money = 0
Movement = 10
Name = nessuno
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = ne5SIebqAOF16
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1224331657
PrevPeerHost = 127.0.0.1
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umano
Resistance = 1
Role = 0
Short = 0
Shorts = 0
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Nessuno] $ 
Status = Ok
Step = 0
Strength = 1
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
