# User #
Attacker = ([])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
Age = 3
AttackTarget = ([])
InputLine = s
Password = nieTwXXiJwRQg
Snooper = ([])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
ConnectionPeerHost = 127.0.0.1
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = localhost
CanBeSnooped = 1
Gender = Maschio
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Terra del Vento
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = nirvana
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 600
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Nirvana
Keyname = nirvana
Born = 1176235186
MessageTIn = $n compare.\n
IdleTime = 1176235201
LogonTime = 1176235185
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Umano
Agility = 1
BallisticSkill = 1
