# User #
Age = 958
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 1
BallisticSkill = 5
BandwidthDown = 32060
BandwidthUp = 57
Born = 1232315528
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2cba4c4)
ClientName = localhost
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomMailAddressee = staff
CustomMailCarboncopy = 0
CustomMailLines = ([grazie])
CustomMailSubject = grazie.
CustomMailTimestamp = 2009-01-18 23.19.45
CustomWeatherLastMessage = C'e` il sole
CustomWeatherLastTime = 1232316667
DamageDice = 1
Debugging = 0
Desc = Nuovo
Descs = Nuovo
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::postoffice=HASH(0x2af42e4)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1232317185
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputBuff = 0
InputCount = 0
InputHistory = ([w|n|s|g|n|s|b|w|l|mail|s|mail|help mail|mail 1|mail 1 r|grazie.||grazie|.|s])
InputLine = s
InputNumber = 43
InputStat = ([1|1|1|1|4|1|4|9|6|8])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1232317037|1232317038|1232317041|1232317114|1232317121|1232317122|1232317125|1232317132|1232317137|1232317153])
InputTo = 0
Inventory = ([])
Keyname = nuovo
Land = Zanelia
LastGarbage = 1232315528
LastLogon = 1232316166
LastRestart = 1232315528
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1232316178
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 1
Money = 0
Movement = 4
Name = nuovo
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = nuyxgVYb3pT/2
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1232315528
PrevPeerHost = 127.0.0.1
PreviousRoom = area/salazar/room/alti_n2
Properties.transparent = 1
Race = Umano
Resistance = 3
Role = 0
Short = Guest1232315528
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Nuovo] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 3
Weight = 100
Wounds = 10
WrapCol = 72
