# User #
Age = 551
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 1
BallisticSkill = 6
BandwidthDown = 12991
BandwidthUp = 64
Born = 1229699750
Brief = 7
Bulk = 40
CanBeSnooped = 1
Capacity = 40
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x212312c)
ClientName = localhost
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomWeatherLastMessage = Sta piovendo e fa freddo
DamageDice = 1
Debugging = 0
Desc = Phos
Descs = Phos
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::terrazza=HASH(0x2b012cc)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1248637935
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputBuff = 0
InputCount = 0
InputHistory = ([s|4|m|1|s|off ciao|b|news|s|b|w|exa mappa|a|e\~a|n|s|exa mappa|exa mapa a|exa mappa a|quit])
InputLine = quit
InputNumber = 1
InputStat = ([2|3|4|5|6|7|8|9|10|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([2|3|4|5|6|7|8|9|10|1248637935])
InputTo = 0
Inventory = ([])
Keyname = phos
Land = Terra del Vento
LastGarbage = 1229699750
LastLogon = 1248637878
LastRestart = 1229699750
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1248637880
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 1
Money = 0
Movement = 4
Name = phos
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = phYnWsifUwsTw
Payload = 40
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1229699750
PrevPeerHost = 127.0.0.1
PreviousRoom = area/salazar/room/terrazza
Properties.transparent = 1
Race = Folletto
Resistance = 3
Role = 0
Short = Guest1229699750
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Phos] $ 
Status = Ok
Step = 0
Strength = 3
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 2
Weight = 40
Wounds = 10
WrapCol = 72
