# User #
Age = 0
Agility = 1
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 2
BallisticSkill = 1
BandwidthDown = 2605
BandwidthUp = 0
Born = 1227012003
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x3e9093c)
ClientName = localhost
Clonenumber = 0
Combat = 0
Container = 0
DamageDice = 1
Debugging = 0
Desc = Questo e` un oggetto normale.
Descs = 0
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = std::room::startup=HASH(0x3c7f324)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Nessuno
Ghost = 0
HitPoints = 10
IAmARobot = 0
IdleTime = 1227012037
InitialRoom = std/room/startup
Initiative = 1
InputBuff = 0
InputCount = 0
InputHistory = ([chatspace1\~connect  |quit|quit|s|quit|quit|quit])
InputLine = quit
InputNumber = 7
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1|2|3|4|5|6|7|8|9|10])
InputTo = 0
Inventory = ([])
Keyname = quit
Land = Nessuno
LastGarbage = 1227012003
LastLogon = 1227012003
LastRestart = 1227012003
LeftHanded = 0
Level = 0
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1227012002
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Money = 0
Movement = 10
Name = quit
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = qujWNxbHzs0g6
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClone = 0
PreviousRoom = 0
Properties.transparent = 1
Race = Nessuno
Resistance = 1
Role = 0
Short = 0
Shorts = 0
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = $ 
Status = Start
Step = 1
Strength = 1
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
