# User #
Agility = 1
AltName = ([])
AnsiColor = 1
BallisticSkill = 1
BandwidthDown = 2101
Born = 1217537821
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x282c748)
ClientName = localhost
DamageDice = 1
Desc = Questo e` un oggetto normale.
Echo = 1
Environment = std::room::startup=HASH(0x26dae74)
Follower = ([])
Gender = Nessuno
HitPoints = 10
IdleTime = 1217537833
InitialRoom = std/room/startup
Initiative = 1
InputHistory = ([ququ|ququ|ququ])
InputLine = ququ
InputNumber = 3
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = ququ
Land = Nessuno
LastLogon = 1217537821
LastRestart = 1217537821
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1217537820
MaxIdleTime = 60
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = ququ
NotifyFail = Che cosa?
Party = ([])
Password = quhFU/mj4PGME
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Properties.transparent = 1
Race = Nessuno
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = $ 
Status = Start
Step = 1
Strength = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
