# User #
Age = 167
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 1
BallisticSkill = 5
BandwidthDown = 8562
BandwidthUp = 25
Born = 1227308376
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 80
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x3e9ad04)
ClientName = ppp-173-185.30-151.libero.it
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
CustomWeatherLastMessage = Piove
DamageDice = 1
Debugging = 0
Desc = Test
Descs = Test
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::terrazza=HASH(0x3bfd7ec)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Femmina
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1227308862
InitialRoom = area/salazar/room/terrazza
Initiative = 2
InputBuff = 0
InputCount = 0
InputHistory = ([test|2Horace$|2Horace$|s|3|f|8|s|posta|mail|mail|quit|quit|quit])
InputLine = quit
InputNumber = 1
InputStat = ([2|3|4|5|6|7|8|9|10|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([2|3|4|5|6|7|8|9|10|1227308862])
InputTo = 0
Inventory = ([])
Keyname = test
Land = Terra delle Rocce
LastGarbage = 1227308376
LastLogon = 1227308853
LastRestart = 1227308376
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1227308856
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 0
Money = 0
Movement = 4
Name = test
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = 2H6IFGvimmC/M
Payload = 80
PeerHost = 151.30.185.173
Power = 10
Preload = ([])
Presence = 0
PrevClientName = ppp-173-185.30-151.libero.it
PrevClone = 0
PrevLastLogon = 1227308775
PrevPeerHost = 151.30.185.173
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Gnometta
Resistance = 4
Role = 0
Short = guest1227308376
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Test] $ 
Status = Ok
Step = 0
Strength = 3
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 4
Weight = 100
Wounds = 10
WrapCol = 72
