# User #
Attacker = ([])
InputStat = ([7|8|9|10|2|3|9|21|5|12])
Age = 377
AttackTarget = ([])
InputLine = panorama est
Password = 09AZboh6bnjfU
Snooper = ([])
InputTime = ([7|8|9|10|1180259186|1180259193|1180259203|1180259234|1180259246|1180259679])
ConnectionPeerHost = 213.140.19.121
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = [Thulera] $ 
MessageIn = $n arriva.\n
ConnectionClientName = 213-140-19-121.fastres.net
CanBeSnooped = 1
Gender = Femmina
ChannelColor.rpg = Yellow
ChannelColor.tag = Green
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Terra del Vento
WeatherLastMessage = Piove
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = thulera
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Thulera
Keyname = thulera
Born = 1180258578
MessageTIn = $n compare.\n
IdleTime = 1180259679
LogonTime = 1180258577
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Folletta
Agility = 1
BallisticSkill = 1
