# User #
Attacker = ([])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
AttackTarget = ([])
InputLine = x
Password = xAK6Gl8p3uxwQ
Snooper = ([])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
ConnectionPeerHost = 151.25.39.131
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = ppp-131-39.25-151.libero.it
CanBeSnooped = 1
Gender = Nessuno
Brief = 7
Land = Nessuno
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Bulk = 100
InitialRoom = std/room/startup
Echo = 1
Name = varen
SpellPoints = 1
Status = Logon
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 600
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Questo e` un oggetto normale.
Step = 2
Keyname = varen
Born = 1174427322
MessageTIn = $n compare.\n
IdleTime = 1174427390
LogonTime = 1174427321
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Nessuno
Agility = 1
BallisticSkill = 1
