# User #
Attacker = ([])
InputStat = ([3|15|4|30|11|3|8|14|5|10])
Age = 39568
AttackTarget = ([])
InputLine = help razze
Password = zaAsXukM3mw2A
Snooper = ([])
InputTime = ([1174384226|1174384238|1174384247|1174384262|1174384281|1174384293|1174384308|1174384365|1174384408|1174384413])
ConnectionPeerHost = <unknown>
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = <unknown>
CanBeSnooped = 1
Gender = Maschio
Channels.tag = 1
Brief = 7
Land = Zanelia
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 100
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 100
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = varen
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Varen
Keyname = varen
Born = 1174383803
MessageTIn = $n compare.\n
IdleTime = 1174384413
LogonTime = 1174383802
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Umano
Agility = 1
BallisticSkill = 1
