# User #
AdvanceLevel = 4
AdvanceUsername = vivian
Age = 60275
Agility = 1
Alias.chiedi = say @_?
Alias.kill = attacca
Alias.rpg = channel rpg
Alias.tag = channel tag
Alignment = 0
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
AttackFlipFlop = 1
AttackTarget = ([])
Attacker = ([])
Attacking = 0
Attempt = 1
BallisticSkill = 4
BandwidthDown = 311893
BandwidthUp = 2448
Born = 1188392674
Brief = 23
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channel_rpg = 1
Channel_tag = 1
Channel_wiz = 1
CharDecode.À = A`
CharDecode.À = A`
CharDecode.È = E`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ò = o`
CharDecode.ù = u`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x2bd2f8c)
ClientName = localhost
Clonenumber = 0
ColorChannel_perl = White
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
ColorChannel_wiz = Red
ColorLongRoom = Yellow
ColorNotifyFail = Magenta
ColorWeather = White
Combat = 0
Container = 0
CustomExpelUsername = guest
CustomFrozenByUsername = Flogisto
CustomHasCompass = 0
CustomSilencedByUsername = Flogisto
CustomWeatherLastMessage = Piove
CustomWeatherLastTime = 1232895160
DamageDice = 1
Debugging = 0
Desc = Vivian
Descs = Vivian
Dexterity = 20
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = home::flogisto::workroom=HASH(0x212555c)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Femmina
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1248637834
InitialRoom = home/flogisto/workroom
Initiative = 6
InputBuff = 0
InputCount = 0
InputHistory = ([kl|aal||kal|kal|kal|kal|kal|quit|look|rpg|rpg ciao|rpg &rev|rpg /rev|save|users|who|users|save|quit])
InputLine = quit
InputNumber = 1
InputStat = ([2|3|4|5|6|7|8|9|10|4])
InputSumch = 0
InputSumch2 = 0
InputTime = ([2|3|4|5|6|7|8|9|10|1248637834])
InputTo = 0
Inventory = ([area/salazar/obj/sextant.pl])
Keyname = vivian
Land = Terra del Vento
LastGarbage = 1221770220
LastLogon = 1248637827
LastRestart = 1188392674
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogName = guest54274
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1248637832
MaxIAmARobot = 10000
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 1
Money = 92488
Movement = 4
Name = vivian
NextClone = 0
NotifyError = Ok.
NotifyFail = Che cosa?
Party = ([])
Password = 3H6eAwxgJmO/I
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([area/salazar/obj/sextant])
Presence = 0
PrevClientName = localhost
PrevClone = 0
PrevLastLogon = 1248552404
PrevPeerHost = 127.0.0.1
PreviousRoom = home/flogisto/workroom
Properties.CustomHasCompass = 1|1248637845
Properties.known_grid_em = 1
Properties.transparent = 1
Race = Mezzelfa
Resistance = 3
Role = 0
Short = Flogisto
Shorts = Flogisto
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
SpentSP = 1
StandPrompt = [Vivian] $ 
Status = Ok
Step = 0
Strength = 3
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 1
UsedPayload = 1
Visible = 1
Volume = 100
WeaponSkill = 4
Weight = 100
Wounds = 20
WrapCol = 72
