# User #
Attacker = ([])
InputStat = ([1|2|3|4|5|6|7|8|9|10])
Age = 44
AttackTarget = ([])
LastRestart = 1182159074
Password = 115D3pIJ8FrZY
Snooper = ([])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
ConnectionPeerHost = 80.104.139.119
HitPoints = 1
Inventory = ([])
Living = 1
StandPrompt = $ 
MessageIn = $n arriva.\n
ConnectionClientName = host119-139-static.104-80-b.business.telecomitalia.it
CanBeSnooped = 1
Gender = Maschio
Channels.rpg = 1
Channels.tag = 1
Brief = 7
Land = Grande Terra
Strength = 1
WeaponSkill = 1
Resistance = 1
Payload = 100
Module = User.pl
MessageTOut = $n scompare.\n
Weight = 80
Alias.g = giu
Alias.rpg = channel rpg
Alias.tag = channel tag
Bulk = 90
Level = 1
InitialRoom = area/salazar/room/terrazza
Echo = 1
Name = writersoul
SpellPoints = 1
Status = Ok
Capacity = 100
MessageHome = $n va a casa sua.
MaxIdleTime = 1800
Properties.transparent = 1
WrapCol = 72
NotifyFail = [1m[34mChe cosa?
Follower = ([])
MessageOut = $n va verso $0.\n
MessageClone = $n materializza qualcosa dal nulla.
Desc = Writersoul
ConnectionLastLogon = 1 2007-06-18 11.31.14
Keyname = writersoul
MessageTIn = $n compare.\n
Born = 1177424281
IdleTime = 1182159099
LogonTime = 1182159099
AnsiColor = 1
Attempt = 1
AltName = ([])
Race = Drago
Agility = 1
BallisticSkill = 1
