# User #
Age = 5
Agility = 1
Alias.off = channel off
Alias.rpg = channel rpg
Alias.tag = channel tag
AltName = ([])
AnsiColor = 1
ArmourBoots = 0
ArmourCloak = 0
ArmourGloves = 0
ArmourHead = 0
ArmourHelmet = 0
ArmourLeftHand = 0
ArmourRightHand = 0
ArmourShield = 0
Attacking = 0
Attempt = 0
BallisticSkill = 5
BandwidthDown = 4997
BandwidthUp = 0
Born = 1226770009
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
Channels_off = 1
Channels_rpg = 1
Channels_tag = 1
CharDecode.À = A`
CharDecode.È = E`
CharDecode.É = E'
CharDecode.Ì = I`
CharDecode.Ò = O`
CharDecode.Ù = U`
CharDecode.à = a`
CharDecode.è = e`
CharDecode.é = e'
CharDecode.ì = i`
CharDecode.ò = o`
CharDecode.ù = u`
Client = IO::Socket::INET=GLOB(0x213ea6c)
ClientName = localhost
Clonenumber = 0
ColorChannel_off = green
ColorChannel_rpg = Yellow
ColorChannel_tag = Green
Combat = 0
Container = 0
DamageDice = 1
Debugging = 0
Desc = Xxxxx
Descs = Xxxxx
Earmuffed = 0
Echo = 1
EmoteAdverb = 0
EmoteTarget = 0
EmoteWhere = 0
Environment = area::salazar::room::terrazza=HASH(0x2b95864)
Follower = ([])
Following = 0
FrozenByUsername = 0
Gender = Maschio
Ghost = 0
HitPoints = 20
IAmARobot = 0
IdleTime = 1226770029
InitialRoom = area/salazar/room/terrazza
Initiative = 3
InputBuff = 0
InputCount = 0
InputHistory = ([xxxxx|xxxxx|xxxxx|s|1|1|m|1|s])
InputLine = s
InputNumber = 9
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputSumch = 0
InputSumch2 = 0
InputTime = ([1|2|3|4|5|6|7|8|9|10])
InputTo = 0
Inventory = ([])
Keyname = xxxxx
Land = Terra del Vento
LastGarbage = 1226770009
LastLogon = 1226770009
LastRestart = 1226770009
LeftHanded = 0
Level = 1
Light = 0
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1226770008
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
MonetaryValue = 0
Money = 0
Movement = 4
Name = xxxxx
NextClone = 0
NotifyFail = Che cosa?
Party = ([])
Password = xxMRJMz5okYkI
Payload = 100
PeerHost = 127.0.0.1
Power = 10
Preload = ([])
Presence = 0
PrevClone = 0
PreviousRoom = std/room/startup
Properties.transparent = 1
Race = Umano
Resistance = 3
Role = 0
Short = 0
Shorts = 0
Snoopee = 0
SnoopeeName = 0
Snooper = ([])
SpellPoints = 10
StandPrompt = [Xxxxx] $ 
Status = Ok
Step = 0
Strength = 4
SwitchedByUsername = 0
SwitcheeUsername = 0
UsedCapacity = 0
UsedPayload = 0
Visible = 1
WeaponSkill = 3
Weight = 100
Wounds = 10
WrapCol = 72
