# User #
Agility = 1
AltName = ([])
AnsiColor = 1
AttackTarget = ([])
Attacker = ([])
Attempt = 3
BallisticSkill = 1
Born = 1187556617
Brief = 7
Bulk = 100
CanBeSnooped = 1
Capacity = 100
ConnectionClientName = ppp-88-19.25-151.libero.it
ConnectionLastLogon = 0 2007-08-19 22.50.17
ConnectionPeerHost = 151.25.19.88
Desc = Questo e` un oggetto normale.
Echo = 1
Follower = ([])
Gender = Nessuno
HitPoints = 10
IdleTime = 1187556673
InitialRoom = std/room/startup
Initiative = 1
InputLine = adfs
InputStat = ([1|2|3|4|5|6|7|8|9|10])
InputTime = ([1|2|3|4|5|6|7|8|9|10])
Inventory = ([])
Keyname = zzzz
Land = Nessuno
LastRestart = 1187556617
Living = 1
LogonShout = $n entra nel Mondo Emerso.\n
LogonTime = 1187556616
MaxIdleTime = 1800
MessageClone = $n materializza qualcosa dal nulla.
MessageHome = $n va a casa sua.
MessageIn = $n arriva.\n
MessageOut = $n va verso $0.\n
MessageTIn = $n compare.\n
MessageTOut = $n scompare.\n
Module = User.pl
Movement = 10
Name = zzzz
NotifyFail = [1m[35mChe cosa?
Party = ([])
Password = xxIL9.SgGFUIo
Payload = 100
Power = 10
Properties.transparent = 1
Race = Nessuno
Resistance = 1
Snooper = ([])
SpellPoints = 10
StandPrompt = $ 
Status = Quit
Strength = 1
WeaponSkill = 1
Weight = 100
Wounds = 10
WrapCol = 72
