#
# This is a configuration file.
# Lines starting with a # are ignored, blank lines are also ignored.
# Spaces are allowed only in right values; trailing spaces are considered too!
#
# >>>  Case *is* significant. <<<
#
# Every line is interpreted by an $self->{$par} = $val
# e.g. a line like the following (without the # of course)
#   GREE = Hello World!
# defines member ...->{GREE} and assign the string 'Hello World!' to it.
#

# ---------------------------------------------------------------------
#
# Standard Action
# Used to call_other( 'std/Actions', $this->actions->{ "$cmd" }, $cmd, @_ )
#
# ---------------------------------------------------------------------
#
# ---------------------------------------------------------------------

# ---------------------------------------------------------------------
#
# Action: Standard Direction
#
# north-south-east-west an their derivates and one-char version
# up and down, enter and exit.
# ---------------------------------------------------------------------
north      = std::daemon::move_dir_daemon::do_move_dir
south      = std::daemon::move_dir_daemon::do_move_dir
west       = std::daemon::move_dir_daemon::do_move_dir
east       = std::daemon::move_dir_daemon::do_move_dir
northeast  = std::daemon::move_dir_daemon::do_move_dir
southeast  = std::daemon::move_dir_daemon::do_move_dir
northwest  = std::daemon::move_dir_daemon::do_move_dir
southwest  = std::daemon::move_dir_daemon::do_move_dir
up         = std::daemon::move_dir_daemon::do_move_dir
down       = std::daemon::move_dir_daemon::do_move_dir
enter      = std::daemon::move_dir_daemon::do_move_dir
exit       = std::daemon::move_dir_daemon::do_move_dir
# ---------------------------------------------------------------------
n          = std::daemon::move_dir_daemon::do_move_dir
s          = std::daemon::move_dir_daemon::do_move_dir
w          = std::daemon::move_dir_daemon::do_move_dir
e          = std::daemon::move_dir_daemon::do_move_dir
ne         = std::daemon::move_dir_daemon::do_move_dir
se         = std::daemon::move_dir_daemon::do_move_dir
nw         = std::daemon::move_dir_daemon::do_move_dir
sw         = std::daemon::move_dir_daemon::do_move_dir
u          = std::daemon::move_dir_daemon::do_move_dir
d          = std::daemon::move_dir_daemon::do_move_dir
a          = std::daemon::move_dir_daemon::do_move_dir
b          = std::daemon::move_dir_daemon::do_move_dir
o          = std::daemon::move_dir_daemon::do_move_dir
# ---------------------------------------------------------------------


# ---------------------------------------------------------------------
#
# Action: Basic Action
# do not leave trailing spaces 
# ---------------------------------------------------------------------

# World
help       = cmd::ghost::_help::cmd_help
quit       = cmd::ghost::_quit::cmd_quit
save       = cmd::ghost::_save::cmd_save
users      = cmd::ghost::_users::cmd_users

# Communication
hello      = cmd::ghost::_hello::cmd_hello
shout      = cmd::ghost::_shout::cmd_shout
say        = cmd::ghost::_say::cmd_say
tell       = cmd::ghost::_tell::cmd_tell

# Objects
get        = cmd::norm::_get::cmd_get
drop       = cmd::norm::_drop::cmd_drop
give       = cmd::norm::_give::cmd_give
examine    = cmd::norm::_examine::cmd_examine
exa        = cmd::norm::_examine::cmd_examine
inventory  = cmd::norm::_inventory::cmd_inventory
i          = cmd::norm::_inventory::cmd_inventory
l          = cmd::ghost::_look::cmd_look
look       = cmd::ghost::_look::cmd_look
attack     = cmd::norm::_attack::cmd_attack
follow     = cmd::norm::_follow::cmd_follow
wear       = cmd::norm::_wear::cmd_wear
remove     = cmd::norm::_wear::cmd_remove


# ---------------------------------------------------------------------
#
# Standard emotes
#
# moved in emotes.cfg
# ---------------------------------------------------------------------



