# ---------------------------------------------------------------------
# This is a configuration file.
# Lines starting with a # are ignored, blank lines are also ignored.
# Spaces are allowed only in right values; trailing spaces are considered too!
#
# >>>  Case *is* significant. <<<
#
# Every line is interpreted by an $self->{$par} = $val
# e.g. a line like the following (without the # of course)
#   GREE = Hello World!
# defines member ...->{GREE} and assign the string 'Hello World!' to it.
# ---------------------------------------------------------------------

# Administrators to be alerted 
Administrators = ([flogisto|mattsteel])

# Initial room
#VoidRoom    = std/room/the_void
#DaemonRoom  = std/room/daemon_room

# Preloaded room list:
PreloadedObjects = ([area/dummy/room/building])

# ---------------------------------------------------------------------
# Direction: Standard Direction conversion
Directions          = ([n|s|e|w|ne|se|nw|sw|u|d|a|b|o])
Direction_n         = north
Direction_s         = south
Direction_e         = east
Direction_w         = west
Direction_ne        = northeast
Direction_se        = southeast
Direction_nw        = northwest
Direction_sw        = southwest
Direction_u         = up
Direction_d         = down
Direction_a         = up
Direction_b         = down
Direction_o         = west

Direction_n_act     = North
Direction_s_act     = South
Direction_e_act     = East
Direction_w_act     = West
Direction_u_act     = upward
Direction_d_act     = downward
Direction_a_act     = upward
Direction_b_act     = downward
Direction_ne_act    = Northeast
Direction_se_act    = Southeast
Direction_nw_act    = Northwest
Direction_sw_act    = Southwest

# ---------------------------------------------------------------------
# Banish/reserved user-names: At login these will be refused.
Banish = ([Nihal|Livon|Sennar|Soana|Dubhe|User|Ido])
MaxIdleTime = 1800
SaveAllDelay = 300

# ---------------------------------------------------------------------
# Numbers
Number = ([nessun|uno|due|tre|quattro|cinque|sei|sette|otto|nove|dieci|undici|dodici])

# ---------------------------------------------------------------------
# Default colours
ColorNotifyFail     = Magenta
ColorShortRoom      = Green
ColorLongRoom       = Yellow
ColorAnnotation     = Black
ColorWeather        = Cyan
ColorChannel        = RESET
ColorAttackMessage  = Cyan
ColorAttackOpponent = Yellow
ColorAttackerPrct   = Green
ColorDefenderPrct   = Red
ColorDefendMessage  = yellow
ColorDefendOpponent = cyan
ColorSnoopingBegin  = green
ColorSnoopingEnd    = red
DescRoomShapeArrow  = ([{Yellow}H{RESET}|{Yellow}H{RESET}|{Yellow}H{RESET}|{Yellow}H{RESET}])


# ---------------------------------------------------------------------
# Time & Weather
#
# Log query_kal
WeatherLog         = 0
# Weather changement delay every "WeatherDelay" seconds.
WeatherDelay       = 300
# How many WeatherDelay's will stay quiet with the same message before being repeated.
WeatherMessagePersistence = 2
#
DayMessageMidnight = It is midnight.\n
DayMessageDawn     = The dawn.\n
DayMessageNoon     = It is noon.\n
DayMessageSunset   = The sunset.\n
# 
DaylightTempFrac   = 1.5
# Conventional "game-hour" is made up by x seconds.
SecondPerGameHour  = 180
# Conventional hour per day
HourPerGameDay     = 24
# Conventional days per month 
DayPerGameMonth    = ([31|28|31|30|31|30|31|31|30|31|30|31])
# Month-season phase displacement.
SeasonDisplacement = 10
# Conventional months per season. A year (expressed in month) is divided into season using this factor 
MonthPerGameSeason =  3
# ---------------------------------------------------------------------
Season             = ([Spring|Summer|Autumn|Winter])
Month              = ([January|February|March|April|May|June|Julay|August|September|October|Nomember|December])
MonthShort         = ([Jan|Feb|Mar|Apr|Mau|Jun|Jul|Aug|Sep|Oct|Nov|Dec])
WeekDay            = ([Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday])
WeekDayShort       = ([Sun|Mon|Tue|Wed|Thu|Fri|Sat|Sun])
MonthTempDelta     = ([0|2|5|8|13|18|20|18|13|8|5|2]) 
MonthDaylightDelta = ([-35|-20|0|20|35|40|35|20|0|-20|-35|-40]) 
# ---------------------------------------------------------------------
# Conventional days per moon 
DayPerGameMoon     = 52
Moon               = ([First moon|Second moon|Third moon|Fourth moon|Fifth moon|Sixth moon|Seventh moon])
# ---------------------------------------------------------------------
# Synchronization: In minutes
#TimeSynchronization = 3684
TimeSynchronization = 0

# Synchronization. (moon displacement must be set empirically in function of every other setting)
DayMoonDisplacement = 0
# ---------------------------------------------------------------------
WeatherDescT00      = ([There is a snowstorm|It is snowing hard|It is snowing|It is freezy but the sky is clear|It is cold but the sky is clear])
WeatherDescT10      = ([It is pouring and it is cold|It is raining hard and is is cold|It is raining and it is cold|It is cold but the sky is clear|It is cold but the sky is clear])
WeatherDescT20      = ([It is pouring|It is pouring|It is raining|The sky is clear|The sky is clear])
WeatherDescT30      = ([It is pouring|It is pouring|It is raining|The sky is clear|The sky is clear])
WeatherDescT40      = ([A thunderstorm|It is drizzling|It is foggy|It is sultry|The sultriness is unbearable])

# ---------------------------------------------------------------------
# Hazards (during travel in wild)
HazardName = ([Massacre|Fire|Chapel|Quake|Stranger|Pedlar|Tornado|Uneventful|Plague|Uneventful|Prisoner|Guest|Witch'sCave|Famine|Uneventful|Bad-map|Pool-of-dream|Lightning|Lost|Flood|Waylaid|Uneventful|Which-road?|Ambush|Uneventful|Blizzard|Double-back|Rockfall|Wagon-train|Uneventful|Militia|Brigands|Travelling-minstrel|Fall|Glorious-Weather|Storm])
#Hazard11-Massacre            = 
#Hazard12-Fire                = 
#Hazard13-Chapel              = 
#Hazard14-Quake               = 
#Hazard15-Stranger            = 
#Hazard16-Pedlar              = 
#Hazard21-Tornado             = 
#Hazard22-Uneventful          = 
#Hazard23-Plague              = 
#Hazard24-Uneventful          = 
#Hazard25-Prisoner            = 
#Hazard26-Guest               = 
#Hazard31-Witch'sCave         = 
#Hazard32-Famine              = 
#Hazard33-Uneventful          = 
#Hazard34-Bad-map             = 
#Hazard35-Pool-of-dream       = 
#Hazard36-Lightning           = 
#Hazard41-Lost                = 
#Hazard42-Flood               = 
#Hazard43-Waylaid             = 
#Hazard44-Uneventful          = 
#Hazard45-Which-road?         = 
#Hazard46-Ambush              = 
#Hazard51-Uneventful          = 
#Hazard52-Blizzard            = 
#Hazard53-Double-back         = 
#Hazard54-Rockfall            = 
#Hazard55-Wagon-train         = 
#Hazard56-Uneventful          = 
#Hazard61-Militia             = 
#Hazard62-Brigands            = 
#Hazard63-Travelling-minstrel = 
#Hazard64-Fall                = 
#Hazard65-Glorious-Weather    = 
#Hazard66-Storm               = 

# ---------------------------------------------------------------------
# Levels
LevelGod       = 100
LevelAdmin     = 90
LevelMax       = 10
LevelNovice    = 01
LevelWizard    = 11
Level2Tell     = 02
Level2Shout    = 03
Level2Attack   = 01

Ruolo = ([Wizard|Warrior])
#
LevelDefault   = ([None|Novice|Fresher|3|4|5|6|7|8|9|10|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])
#                  0    1      2       3          4             5      6             7             8                     9          10                11     12          13       14        15     16    17 
LevelMago      = ([None|Novice|Fresher|Apprentice|Junior Wizard|Wizard|Senior Wizard|Master Wizard|Apprentice Councillor|Councillor|Senior Councillor|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])
#                  0    1      2       3          4       5     6        7          8       9       10              11     12          13       14        15     16    17 
LevelGuerriero = ([None|Novice|Fresher|Apprentice|Soldier|Guard|Sergeant|Lieutenatn|Captain|General|Supreme General|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])

# ---------------------------------------------------------------------
# Races
RaceList  = ([Humans|Elves|Gnome|Elves|Lily|Siren|Fammin])
RaceListM = ([Uman|Elf|Gnome|Elf|Human|Triton|Fammin])
RaceListF = ([Uman|Elf|Gnome|Elf|Lyly|Siren|Fammin])
RaceBulk     = ([100|100| 40|100| 70|200|100|100])
RaceWeight   = ([100|100| 40|100| 70|200|100|100])
RaceCapacity = ([100|100|100|100|100|100|100|100])
RacePayload  = ([100|100|100|100|100|100|100|100])

# ---------------------------------------------------------------------
# Lands
Land   = ([zanelia|wind|water|sea|sun|days|night|fire|rocks|great])
LandL  = ([Zanelia|Land of Wind|Land of Water|Land of Sea|Land of Sun|Land of Days|Land of Night|Land of Fire|Land of Rocks|Great Land])

# ---------------------------------------------------------------------
# Channels
ChannelMaxBuf = 500
ChannelList   = ([wiz|tag|off|rpg|perl])
ChannelWizard = ([1|0|0|0|1])
ChannelAdmin  = ([1|0|0|0|1])
ChannelLength = ([200|200|200|200|200])
ChannelDesc   = ([Admin channel|Common chat channel|Off-RPG channel|RPG channel|Programmer channel])

# ---------------------------------------------------------------------
# Combat
DiceSize          = 6
CombatHandicap    = 0.70
CombatAdvantage   = 0.05

# To-Hit Chart. This chard has been overridden by some calculations inside combat_daemon.
CombatTohitchart.0  =  ([0|1|2|3|4|5|6|7|8|9|10])
CombatTohitchart.1  =  ([1|4|4|5|6|6|6|6|6|6|6])
CombatTohitchart.2  =  ([2|3|4|4|4|5|5|6|6|6|6])
CombatTohitchart.3  =  ([3|2|3|4|4|4|4|5|5|5|6])
CombatTohitchart.4  =  ([4|2|3|3|4|4|4|4|4|5|5])
CombatTohitchart.5  =  ([5|2|3|3|3|4|4|4|4|4|4])
CombatTohitchart.6  =  ([6|2|3|3|3|3|4|4|4|4|4])
CombatTohitchart.7  =  ([7|2|3|3|3|3|3|4|4|4|4])
CombatTohitchart.8  =  ([8|2|2|3|3|3|3|3|4|4|4])
CombatTohitchart.9  =  ([9|2|2|2|3|3|3|3|3|4|4])
CombatTohitchart.10 = ([10|2|2|2|2|3|3|3|3|3|4])

# Miss messages
# 0: <just hit>
# 1: You brush $0.
# 2: You miss $0.
# 3: You far far miss $0.
# 4: You're hunting a butterfly...
CombatMiss          = ([0|You brush $0.|You miss$0.|You miss $0 quite a lot.|You're hunting a butterfly...])
CombatMissTarget    = ([0|$0 brushes you.|$0 misses you.|$0 misses you quite a lot.|$0 is hunting a butterfly...])
CombatMissOthers    = ([0|$0 brushes $1.|$0 misses $1.|$0 misses $1 quite a lot.|$0 is hunting a butterfly...])
CombatMissRea       = ([0|$0 looks at you severely  .|$0 sneers.|$0 laughs at you.|$0 challenges you to hit...])
CombatMissReaTar    = ([0|You look at $0 severely.|You sneer to $0.|You laugh at $0.|You challenge $0 to hit...])
CombatMissReaOth    = ([0|$0 looks at $1 severely.|$0 sneers to $1.|$0 laughs at $1.|$0 challenges $1 to hit...])

# Hit messages
#  0: Tocchi $0 senza conseguenze.
#  1: Graffi $0.
#  2: Fai male a $0.
#  3: Colpisci $0.
#  4: Colpisi duramente $0.
#  5: Colpisci molto duramente $0.
#  6: Ferisci a sangue $0.
#  7: Ferisci a sangue $0.
#  8: Massacri $0.
#  9: Massacri $0.
# 10: Colpisci a morte $0.

RumorsNeighbour     = You hear some battle sound from $0...\n
StopCombatDelay     = 30
CopseDecayDelay     = 180
ArmedWith           = armed with $0
Barehanded          = barehanded
ArmedWithMessage    = You attack $1, $0.
ArmedWithTarget     = $1 attacks you, $0.
ArmedWithOthers     = $1 attacks $2, $0.

CombatHit           = ([You almost hit $0.|You scratch $0.|You hurt $0.|You hit $0.|You hit hard $0.|You hit very hard $0.|You injure $0.|You injure $0.|You massacre $0.|You massacre $0.|You hit $0 to death.])
CombatHitTarget     = ([$0 almost hits you.|$0 scratches you.|$0 hurts you.|$0 hits you.|$0 hits you hard.|$0 hits you very hard.|$0 injures you.|$0 injures you.|$0 massacres you.|$0 massacres you.|$0 hit you to death.])
CombatHitOthers     = ([$0 almost hits $1.|$0 scratches $1, $2.|$0 hurts $1, $2.|$0 hits $1, $2.|$0 hits $1 hard, $2.|$0 hits $1 very hard, $2.|$0 injures $1, $2.|$0 injures $1, $2.|$0 massacres $1, $2.|$0 massacres $1, $2.|$0 hits $1 to death, $2.])
CombatHitRea        = ([$0 looks at you severely|$0 checks the scratch.|$0 sighs in pain.|$0 groans in pain.|$0 scream in pain.|$0 scream in pain.|$0 screams painfully.|$0 screams painfully.|$0 staggers.|$0 staggers.|$0 is stunned.])
CombatHitReaTar     = ([You look at $0 severely.|You check your scratch.|You sign in pain.|You groan in pain.|You scream in pain.|You scream in pain.|You scream painfully.|You scream.|You stagger.|You stagger.|You're stunned.])
CombatHitReaOth     = ([$0 looks at $1 severely|$0 checks the scratch.|$0 sighs in pain.|$0 groans in pain.|$0 scream in pain.|$0 scream in pain.|$0 screams painfully.|$0 screams painfully.|$0 staggers.|$0 staggers.|$0 is stunned.])

CombatQueryStat     = ([$0 is sound.|$0 is almost good.|$0 is a little bruised|$0 is wounded.|$0 is severely wounded.|$0 is almost dead.|])

MaxBallisticSkill = 10
MaxWeaponSKill    = 10
MaxAgility        = 10
MaxStrength       = 10
MaxResistance     = 10

MaxPresence       = 10

# ---------------------------------------------------------------------
# Maximum object value that can be dropped when quitting.
MaxValueToDrop    = 1000

# ---------------------------------------------------------------------
# Damages
Damage  = ([Tocchi appena $0.|Colpisci $0.|Colpisci duro $0.])

# ---------------------------------------------------------------------
# Sub that handles the emote-command
EmoteHandleCommand = std::daemon::emote_daemon::do_emote

# ---------------------------------------------------------------------
# Emote-Bodypart
BodyPart.finger              = on $s fingers
BodyPart.hand                = on $s hand
BodyPart.hands               = on $s hands
BodyPart.forehead            = on $s forehead
BodyPart.head                = on $s head
BodyPart.face                = on $s face
BodyPart.hurt                = where it hurts
BodyPart.ithurt              = where it hurts
BodyPart.eye                 = on $s eye
BodyPart.ear                 = on $s ear
BodyPart.stomach             = on $s stomach
BodyPart.back                = on $s back
BodyPart.leg                 = on $s leg
BodyPart.foot                = on $s foot
BodyPart.feet                = on $s feet
BodyPart.toe                 = on $s bit toe
BodyPart.nose                = on $s nose
BodyPart.neck                = on $s neck
BodyPart.arm                 = on $s arm
BodyPart.chest               = on $s chest
BodyPart.cheek               = on $s check
BodyPart.hip                 = on $s hip
BodyPart.everywhere          = everywhere
BodyPart.shoulder            = on $s shoulder
BodyPart.groin               = on $s groin

# ---------------------------------------------------------------------
# Debug-Timing for "fileput" command
FileputTimeout               = 10
