#
# This is a configuration file.
# Lines starting with a # are ignored, blank lines are also ignored.
# Spaces are allowed only in right values; trailing spaces are considered too!
#
# >>>  Case *is* significant. <<<
#
# Every line is interpreted by an $self->{$par} = $val
# e.g. a line like the following (without the # of course)
#   GREE = Hello World!
# defines member ...->{GREE} and assign the string 'Hello World!' to it.
#

# ---------------------------------------------------------------------
#
# Standard Action
# Used to call_other( 'std/Actions', $this->actions->{ "$cmd" }, $cmd, @_ )
#
# ---------------------------------------------------------------------
#
# ---------------------------------------------------------------------

# ---------------------------------------------------------------------
#
# Action: Standard Direction
#
# north-south-east-west an their derivates and one-char version
# up and down, enter and exit.
# ---------------------------------------------------------------------
nord       = std::daemon::move_dir_daemon::do_move_dir
sud        = std::daemon::move_dir_daemon::do_move_dir
est        = std::daemon::move_dir_daemon::do_move_dir
ovest      = std::daemon::move_dir_daemon::do_move_dir
nordest    = std::daemon::move_dir_daemon::do_move_dir
sudest     = std::daemon::move_dir_daemon::do_move_dir
nordovest  = std::daemon::move_dir_daemon::do_move_dir
sudovest   = std::daemon::move_dir_daemon::do_move_dir
alto       = std::daemon::move_dir_daemon::do_move_dir
basso      = std::daemon::move_dir_daemon::do_move_dir
entra      = std::daemon::move_dir_daemon::do_move_dir
esci       = std::daemon::move_dir_daemon::do_move_dir
# ---------------------------------------------------------------------
n          = std::daemon::move_dir_daemon::do_move_dir
s          = std::daemon::move_dir_daemon::do_move_dir
w          = std::daemon::move_dir_daemon::do_move_dir
e          = std::daemon::move_dir_daemon::do_move_dir
ne         = std::daemon::move_dir_daemon::do_move_dir
se         = std::daemon::move_dir_daemon::do_move_dir
nw         = std::daemon::move_dir_daemon::do_move_dir
sw         = std::daemon::move_dir_daemon::do_move_dir
u          = std::daemon::move_dir_daemon::do_move_dir
d          = std::daemon::move_dir_daemon::do_move_dir
a          = std::daemon::move_dir_daemon::do_move_dir
b          = std::daemon::move_dir_daemon::do_move_dir
o          = std::daemon::move_dir_daemon::do_move_dir
# ---------------------------------------------------------------------


# ---------------------------------------------------------------------
#
# Action: Basic Action
# do not leave trailing spaces 
# ---------------------------------------------------------------------

# Mondo
aiuto      = cmd::ghost::_help::cmd_help
fine       = cmd::ghost::_quit::cmd_quit
salva      = cmd::ghost::_save::cmd_save
users      = cmd::ghost::_users::cmd_users

# Communication
hello      = cmd::ghost::_hello::cmd_hello
urla       = cmd::ghost::_shout::cmd_shout
parla      = cmd::ghost::_say::cmd_say
di         = cmd::ghost::_tell::cmd_tell

# Objects
prendi     = cmd::norm::_get::cmd_get
lascia     = cmd::norm::_drop::cmd_drop
dai        = cmd::norm::_give::cmd_give
esamina    = cmd::norm::_examine::cmd_examine
exa        = cmd::norm::_examine::cmd_examine
esa        = cmd::norm::_examine::cmd_examine
inventario = cmd::norm::_inventory::cmd_inventory
i          = cmd::norm::_inventory::cmd_inventory
l          = cmd::ghost::_look::cmd_look
guarda     = cmd::ghost::_look::cmd_look
attacca    = cmd::norm::_attack::cmd_attack
segui      = cmd::norm::_follow::cmd_follow
indossa    = cmd::norm::_wear::cmd_wear
togli      = cmd::norm::_remove::cmd_remove


# ---------------------------------------------------------------------
#
# Standard emotes
#
# moved in emotes.cfg
# ---------------------------------------------------------------------



