# ---------------------------------------------------------------------
# This is a configuration file.
# Lines starting with a # are ignored, blank lines are also ignored.
# Spaces are allowed only in right values; trailing spaces are considered too!
#
# >>>  Case *is* significant. <<<
#
# Every line is interpreted by an $self->{$par} = $val
# e.g. a line like the following (without the # of course)
#   GREE = Hello World!
# defines member ...->{GREE} and assign the string 'Hello World!' to it.
# ---------------------------------------------------------------------

# Administrators to be alerted 
Administrators = ([flogisto|mattsteel])

# Initial room
#VoidRoom    = std/room/the_void
#DaemonRoom  = std/room/daemon_room

# Preloaded room list:
# terrazza    startup room
# orto_5      to pre-load Baar npc.
PreloadedObjects = ([area/salazar/room/terrazza|area/salazar/room/orto_5|area/salazar/room/guard|area/mattsteel_castle/room/building])

# ---------------------------------------------------------------------
# Direction: Standard Direction conversion
Directions          = ([n|s|e|w|ne|se|nw|sw|u|d|a|b|o])
Direction_n         = nord
Direction_s         = sud
Direction_e         = est
Direction_w         = ovest
Direction_ne        = nordest
Direction_se        = sudest
Direction_nw        = nordovest
Direction_sw        = sudovest
Direction_u         = alto
Direction_d         = basso
Direction_a         = alto
Direction_b         = basso
Direction_o         = ovest

Direction_n_act     = Nord
Direction_s_act     = Sud
Direction_e_act     = Est
Direction_w_act     = Ovest
Direction_u_act     = l'alto
Direction_d_act     = il basso
Direction_a_act     = l'alto
Direction_b_act     = il basso
Direction_ne_act    = Nordest
Direction_se_act    = Sudest
Direction_nw_act    = Nordovest
Direction_sw        = Sudovest

# ---------------------------------------------------------------------
# Banish/reserved user-names: At login these will be refused.
Banish = ([Nihal|Livon|Sennar|Soana|Dubhe|User|Ido])
MaxIdleTime = 1800
SaveAllDelay = 300

# ---------------------------------------------------------------------
# Numbers
Number = ([nessun|uno|due|tre|quattro|cinque|sei|sette|otto|nove|dieci|undici|dodici])

# ---------------------------------------------------------------------
# Default colours
ColorNotifyFail     = Magenta
ColorShortRoom      = Green
ColorLongRoom       = Yellow
ColorAnnotation     = Black
ColorWeather        = Cyan
ColorChannel        = RESET
ColorAttackMessage  = Cyan
ColorAttackOpponent = Yellow
ColorAttackerPrct   = Green
ColorDefenderPrct   = Red
ColorDefendMessage  = yellow
ColorDefendOpponent = cyan
ColorSnoopingBegin  = green
ColorSnoopingEnd    = red
DescRoomShapeArrow  = ([{Yellow}H{RESET}|{Yellow}H{RESET}|{Yellow}H{RESET}|{Yellow}H{RESET}])


# ---------------------------------------------------------------------
# Time & Weather
#
# Log query_kal
WeatherLog         = 0
# Weather changement delay every "WeatherDelay" seconds.
WeatherDelay       = 300
# How many WeatherDelay's will stay quiet with the same message before being repeated.
WeatherMessagePersistence = 2
#
DayMessageMidnight = E` mezzanotte.\n
DayMessageDawn     = E` l'alba.\n
DayMessageNoon     = E` mezzogiorno.\n
DayMessageSunset   = E` il tramonto.\n
# 
DaylightTempFrac   = 1.5
# Conventional "game-hour" is made up by x seconds.
SecondPerGameHour  = 180
# Conventional hour per day
HourPerGameDay     = 24
# Conventional days per month 
DayPerGameMonth    = ([31|28|31|30|31|30|31|31|30|31|30|31])
# Month-season phase displacement.
SeasonDisplacement = 10
# Conventional months per season. A year (expressed in month) is divided into season using this factor 
MonthPerGameSeason =  3
# ---------------------------------------------------------------------
Season             = ([Primavera|Estate|Autunno|Inverno])
Month              = ([Gennaio|Febbraio|Marzo|Aprile|Maggio|Giugno|Luglio|Agosto|Settembre|Ottobre|Novembre|Dicembre])
MonthShort         = ([Gen|Feb|Mar|Apr|Mag|Giu|Lug|Ago|Set|Ott|Nov|Dic])
WeekDay            = ([Domenica|Lunedi`|Martedi`|Mercoledi`|Giovedi`|Venerdi`|Sabato|Domenica])
WeekDayShort       = ([Dom|Lun|Mar|Mer|Gio|Ven|Sab|Dom])
MonthTempDelta     = ([0|2|5|8|13|18|20|18|13|8|5|2]) 
MonthDaylightDelta = ([-35|-20|0|20|35|40|35|20|0|-20|-35|-40]) 
# ---------------------------------------------------------------------
# Conventional days per moon 
DayPerGameMoon     = 52
Moon               = ([Prima Luna|Seconda Luna|Terza Luna|Quarta Luna|Quinta Luna|Sesta Luna|Settima Luna])
# ---------------------------------------------------------------------
# Synchronization: In minutes
#TimeSynchronization = 3684
TimeSynchronization = 0

# Synchronization. (moon displacement must be set empirically in function of every other setting)
DayMoonDisplacement = 0
# ---------------------------------------------------------------------
WeatherDescT00      = ([C'è una tormenta di neve|Nevica forte|Nevica|Si gela ma il cielo è limpido|Fa freddo ma il cielo è terso])
WeatherDescT10      = ([Diluvia e fa freddo|Piove a dirotto e fa freddo|Sta piovendo e fa freddo|Fa freddo ma il cielo è limpido|Fa freddo ma il cielo è terso])
WeatherDescT20      = ([Diluvia|Piove a dirotto|Piove|Il cielo è sereno|Il cielo è terso])
WeatherDescT30      = ([Diluvia|Piove a dirotto|Piove|Il cielo è sereno|Il cielo è terso])
WeatherDescT40      = ([Un temporale estivo|Pioviggina|C'è nebbia|C'è afa|C'è un'afa insopportabile])

# ---------------------------------------------------------------------
# Hazards (during travel in wild)
HazardName = ([Massacre|Fire|Chapel|Quake|Stranger|Pedlar|Tornado|Uneventful|Plague|Uneventful|Prisoner|Guest|Witch'sCave|Famine|Uneventful|Bad-map|Pool-of-dream|Lightning|Lost|Flood|Waylaid|Uneventful|Which-road?|Ambush|Uneventful|Blizzard|Double-back|Rockfall|Wagon-train|Uneventful|Militia|Brigands|Travelling-minstrel|Fall|Glorious-Weather|Storm])
#Hazard11-Massacre            = 
#Hazard12-Fire                = 
#Hazard13-Chapel              = 
#Hazard14-Quake               = 
#Hazard15-Stranger            = 
#Hazard16-Pedlar              = 
#Hazard21-Tornado             = 
#Hazard22-Uneventful          = 
#Hazard23-Plague              = 
#Hazard24-Uneventful          = 
#Hazard25-Prisoner            = 
#Hazard26-Guest               = 
#Hazard31-Witch'sCave         = 
#Hazard32-Famine              = 
#Hazard33-Uneventful          = 
#Hazard34-Bad-map             = 
#Hazard35-Pool-of-dream       = 
#Hazard36-Lightning           = 
#Hazard41-Lost                = 
#Hazard42-Flood               = 
#Hazard43-Waylaid             = 
#Hazard44-Uneventful          = 
#Hazard45-Which-road?         = 
#Hazard46-Ambush              = 
#Hazard51-Uneventful          = 
#Hazard52-Blizzard            = 
#Hazard53-Double-back         = 
#Hazard54-Rockfall            = 
#Hazard55-Wagon-train         = 
#Hazard56-Uneventful          = 
#Hazard61-Militia             = 
#Hazard62-Brigands            = 
#Hazard63-Travelling-minstrel = 
#Hazard64-Fall                = 
#Hazard65-Glorious-Weather    = 
#Hazard66-Storm               = 

# ---------------------------------------------------------------------
# Levels
LevelGod       = 100
LevelAdmin     = 90
LevelMax       = 10
LevelNovice    = 01
LevelWizard    = 11
Level2Tell     = 02
Level2Shout    = 03
Level2Attack   = 01

Ruolo = ([Mago|Guerriero])
#
LevelDefault   = ([Nessuno|Novizio|Matricola|3|4|5|6|7|8|9|10|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])
#                  0       1       2         3           4           5    6           7           8                  9           10                  11     12          13       14        15     16    17 
LevelMago      = ([Nessuno|Novizio|Matricola|Apprendista|Mago junior|Mago|Mago senior|Mago master|Allievo consiliere|Consigliere|Consigliere anziano|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])
#                  0       1       2         3       4        5       6        7       8        9        10               11     12          13       14        15     16    17 
LevelGuerriero = ([Nessuno|Novizio|Matricola|Allievo|Militare|Guardia|Sergente|Tenente|Capitano|Generale|Generale supremo|Master|Powermaster|Immortal|Developer|Senior|Admin|Creator])

# ---------------------------------------------------------------------
# Races
RaceList  = ([Umani|Mezzelfi|Gnomi|Folletti|Ninfe|Sirenidi|Fammin])
RaceListM = ([Umano|Mezzelfo|Gnomo|Folletto|Umano|Tritone|Fammin])
RaceListF = ([Umana|Mezzelfa|Gnometta|Folletta|Ninfa|Sirena|Fammin])
RaceBulk     = ([100|100| 40|100| 70|200|100|100])
RaceWeight   = ([100|100| 40|100| 70|200|100|100])
RaceCapacity = ([100|100|100|100|100|100|100|100])
RacePayload  = ([100|100|100|100|100|100|100|100])

# ---------------------------------------------------------------------
# Lands
Land   = ([zanelia|vento|acqua|mare|sole|giorni|notte|fuoco|rocce|grande])
LandL  = ([Zanelia|Terra del Vento|Terra dell'Acqua|Terra del Mare|Terra del Sole|Terra dei Giorni|Terra della Notte|Terra del Fuoco|Terra delle Rocce|Grande Terra])

# ---------------------------------------------------------------------
# Channels
ChannelMaxBuf = 500
ChannelList   = ([wiz|tag|off|rpg|perl])
ChannelWizard = ([1|0|0|0|1])
ChannelAdmin  = ([1|0|0|0|1])
ChannelLength = ([200|200|200|200|200])
ChannelDesc   = ([Canale degli amministratori|Canale per le chat comuni|Canale per messaggi off-RPG|Canale per le chat RPG|Canale per programmatori])

# ---------------------------------------------------------------------
# Combat
DiceSize          = 6
CombatHandicap    = 0.70
CombatAdvantage   = 0.05

# To-Hit Chart. This chard has been overridden by some calculations inside combat_daemon.
CombatTohitchart.0  =  ([0|1|2|3|4|5|6|7|8|9|10])
CombatTohitchart.1  =  ([1|4|4|5|6|6|6|6|6|6|6])
CombatTohitchart.2  =  ([2|3|4|4|4|5|5|6|6|6|6])
CombatTohitchart.3  =  ([3|2|3|4|4|4|4|5|5|5|6])
CombatTohitchart.4  =  ([4|2|3|3|4|4|4|4|4|5|5])
CombatTohitchart.5  =  ([5|2|3|3|3|4|4|4|4|4|4])
CombatTohitchart.6  =  ([6|2|3|3|3|3|4|4|4|4|4])
CombatTohitchart.7  =  ([7|2|3|3|3|3|3|4|4|4|4])
CombatTohitchart.8  =  ([8|2|2|3|3|3|3|3|4|4|4])
CombatTohitchart.9  =  ([9|2|2|2|3|3|3|3|3|4|4])
CombatTohitchart.10 = ([10|2|2|2|2|3|3|3|3|3|4])

# Miss messages
# 0: <just hit>
# 1: Sfiori $0.
# 2: Manchi $0.
# 3: Manchi $0 di parecchio.
# 4: Vai a farfalle...
CombatMiss          = ([0|Sfiori $0.|Manchi $0.|Manchi $0 di parecchio.|Vai a farfalle...])
CombatMissTarget    = ([0|$0 ti sfiora.|$0 ti manca.|$0 ti manca di parecchio.|$0 va a farfalle...])
CombatMissOthers    = ([0|$0 sfiora $1.|$0 manca $1.|$0 manca $1 di parecchio.|$0 va a farfalle...])
CombatMissRea       = ([0|$0 ti guarda arcign$o.|$0 sogghigna.|$0 ride di te.|$0 ti lancia uno sguardo di sfida...])
CombatMissReaTar    = ([0|Guardi arcign$o $0.|Sogghigni verso $0.|Ridi di $0.|Lanci uno sguardo di sfida a $0...])
CombatMissReaOth    = ([0|$0 guarda arcign$o $1.|$0 sogghigna verso $1.|$0 ride di $1.|$0 lancia uno sguardo di sfida a $1...])

# Hit messages
#  0: Tocchi $0 senza conseguenze.
#  1: Graffi $0.
#  2: Fai male a $0.
#  3: Colpisci $0.
#  4: Colpisi duramente $0.
#  5: Colpisci molto duramente $0.
#  6: Ferisci a sangue $0.
#  7: Ferisci a sangue $0.
#  8: Massacri $0.
#  9: Massacri $0.
# 10: Colpisci a morte $0.

RumorsNeighbour     = Rumori di battaglia nelle vicinanze verso $0...\n
StopCombatDelay     = 30
CopseDecayDelay     = 180
ArmedWith           = armat$o di $0
Barehanded          = a mani nude
ArmedWithMessage    = Attacchi $1, $0.
ArmedWithTarget     = $1 ti attacca, $0.
ArmedWithOthers     = $1 attacca $2, $0.

CombatHit           = ([Tocchi appena $0.|Graffi $0.|Fai male a $0.|Colpisci $0.|Colpisci duramente $0.|Colpisci molto duramente $0.|Ferisci a sangue $0.|Ferisci a sangue $0.|Massacri $0.|Massacri $0.|Colpisci a morte $0.])
CombatHitTarget     = ([$0 ti tocca appena.|$0 ti graffia.|$0 ti fa male.|$0 ti colpisce.|$0 ti colpisce duramente.|$0 ti colpisce molto duramente.|$0 ti ferisce a sangue.|$0 ti ferisce a sangue.|$0 ti massacra.|$0 ti massacra.|$0 ti colpisce a morte.])
CombatHitOthers     = ([$0 tocca appena $1.|$0 graffia $1, $2.|$0 fa male a $1, $2.|$0 colpisce $1, $2.|$0 colpisce duramente $1, $2.|$0 colpisce molto duramente $1, $2.|$0 ferisce $1 a sangue, $2.|$0 ferisce $1 a sangue, $2.|$0 massacra $1, $2.|$0 massacra $1, $2.|$0 colpisce a morte $1, $2.])
CombatHitRea        = ([$0 ti guarda arcign$o|$0 si controlla il graffio.|$0 si lascia sfuggire un sospiro.|$0 geme di dolore.|$0 urla di dolore.|$0 urla di dolore.|$0 urla a squarciagola.|$0 urla a squarciagola.|$0 barcolla dal dolore.|$0 barcolla dal dolore.|$0 e` tramortit$o dal colpo.])
CombatHitReaTar     = ([Guardi arcign$o $0.|Ti controlli il graffio.|Ti lasci sfuggire un sospiro.|Gemi di dolore.|Urli di dolore.|Urli di dolore.|Urli a squarciagola.|Urli a squarciagola.|Barcolli dal dolore.|Barcolli dal dolore.|Vieni tramortit$o dal colpo.])
CombatHitReaOth     = ([$0 guarda arcign$o $1|$0 controlla il graffio.|$0 si lascia sfuggire un sospiro.|$0 geme di dolore.|$0 urla di dolore.|$0 urla di dolore.|$0 urla a squarciagola.|$0 urla a squarciagola.|$0 barcolla dal dolore.|$0 barcolla dal dolore.|$0 e` tramortit$o dal colpo.])

CombatQueryStat     = ([$0 gode di ottima salute.|$0 non si sente molto bene.|$0 e` lievemente contuso|$0 e` ferito.|$0 e` ferito gravemente .|$0 sta ansimando.|])

MaxBallisticSkill = 10
MaxWeaponSKill    = 10
MaxAgility        = 10
MaxStrength       = 10
MaxResistance     = 10

MaxPresence       = 10

# ---------------------------------------------------------------------
# Maximum object value that can be dropped when quitting.
MaxValueToDrop    = 1000

# ---------------------------------------------------------------------
# Damages
Damage  = ([Tocchi appena $0.|Colpisci $0.|Colpisci duro $0.])

# ---------------------------------------------------------------------
# Sub that handles the emote-command
EmoteHandleCommand = std::daemon::emote_daemon::do_emote

# ---------------------------------------------------------------------
# Emote-Bodypart
BodyPart.dita                = sulle dita
BodyPart.mano                = sulla mano
BodyPart.mani                = sulle mani
BodyPart.fronte              = sulla fronte
BodyPart.testa               = sulla testa
BodyPart.faccia              = in faccia
BodyPart.famale              = dove fa male
BodyPart.male                = dove fa male
BodyPart.occhio              = sull'occhio
BodyPart.orecchio            = sull'orecchio
BodyPart.stomaco             = sullo stomaco
BodyPart.didietro            = sul didietro
BodyPart.gamba               = sulla gamba
BodyPart.piede               = sul piede
BodyPart.ditone              = sul ditone destro
BodyPart.naso                = sul naso
BodyPart.collo               = sul collo
BodyPart.schiena             = sulla schiena
BodyPart.braccio             = sul braccio
BodyPart.petto               = sul petto
BodyPart.guancia             = sulla guancia
BodyPart.fianco              = sul fianco
BodyPart.ovunque             = ovunque
BodyPart.spalla              = sulla spalla
BodyPart.inguine             = sull'inguine

# ---------------------------------------------------------------------
# Debug-Timing for "fileput" command
FileputTimeout               = 10
